<ul>
	<li class="search" onclick='wapp.showPage("search"); $("#search input").focus();'>
		<i class="fa fa-search"></i> Rechercher
	</li>
	<li onclick="wapp.showPage('layers');">
		<i class="fa tools-layers"></i> Couches
	</li>
	<li onclick="wapp.showPage('cartes');" class="debug">
		<i class="fa fa-map"></i> Mes cartes
	</li>
	<li onclick="wapp.showPage('signalements');">
		<i class="fa fa-wifi fa-rotate-90"></i> Signalements
		<button class="georemsCount"><span></span></button>
	</li>
	<li onclick="wapp.showPage('options');">
		<i class="fa fa-list-ul"></i> Paramètres
	</li>
	<li onclick="wapp.showPage('apropos');">
		<i class="fa fa-info-circle"></i> A propos...
	</li>
</ul>
