<div class="noconnect">
	<p>
		Merci de vous connecter afin de faire un signalement.
		<br/>
		<i>
			Vous devez au préalable vous être inscrit sur
			<a href="https://espacecollaboratif.ign.fr/register/" target="_system">
				l'Espace Collaboratif</a>
			pour pouvoir effectuer une contribution.
		</i>
	</p>
	<button class="button big-button" onclick="wapp.ripart.connectDialog();">Connexion</button>
</div>

<div class="connect profil">
	<span class="title"></span><img />
</div>

<div class="connect info">
	<p></p>
	<div class="buttons changeGroupe" style=" text-align: right;">
		<button class="button" onclick="wapp.ripart.choixProfil()">
			Changer de groupe&nbsp;
			<i class="fa fa-users"></i> 
		</button>
	</div>
	<div class="buttons" style=" text-align: center;">
		<button class="button big-button" onclick="wapp.ripart.showFormulaire();">
			Faire un signalement
		</button>
	</div>
	<div class="warning_public">
		<i>Nota bene</i> : Pensez que lorsque vous faites un signalement celui-ci est public et 
		peut être vu par d'autres utilisateurs. 
		Veillez donc à la qualité des échanges et gardez à l’esprit que vous restez
		responsable de vos propos.
	</div>
</div>

<div class="connect formulaire">
	<ul class="default">
		<li class="position">
			<label>Position :</label> 
			<button class="movePosition button">
				<i class="fa fa-map-marker"></i>&nbsp; déplacer...
			</button>
			<p>
				<input type="text" class="lon" /> , <input type="text" class="lat" />
			</p>
		</li>

		<li data-input="select" data-param="theme">
			<label>Thème</label>
		</li>

		<li class="attributes" data-input="custom">
			<label>Attributs</label>
			<div data-input-role="info"></div>
		</li>

		<li>
			Commentaire :
			<textarea class="comment"></textarea>
		</li>
		
		<li class="addfeatures" style="text-align:right; padding:0.5em 0;" >
			<button class="button" style="padding-right: 0;">
				<i class="fa tools-copypoly"></i>&nbsp;
				ajouter un objet...
				<span class="nb" style="position:relative; background:#f60; width:1.5em; line-height:1.5em; border-radius:1em; display: inline-block; top:-0.5em; left:0.5em;">0</span>
			</button>
		</li>
		<li class="photo">
			<img onclick="wapp.ripart.photo();" />
			<span class="fa-stack fa-lg" style="background:#ddd; border-radius:50%;" onclick="wapp.ripart.photo();">
				<i class="fa fa-camera fa-stack-1x"></i>
			</span>
		</li>
	</ul>
	<div class="buttons">
		<div data-role="dialogBt" class="cancel" >Annuler</div>
		<div data-role="dialogBt" class="save" >Enregistrer</div>
	</div>
	<br/>
</div>