<div data-role="header" data-back-button="true">Mes cartes</div>
<div data-role="onglet">
	<div data-role="onglet-bt">
		<div data-list="guichets">
			<i class="fa fa-address-card"></i>Guichets
		</div>
		<div data-list="maps">
			<i class="fa tools-layers"></i>Cartes
		</div>
	</div>

	<!-- Liste des guichets-->
	<div data-role="onglet-li" data-list="guichets">
		<h3 style="margin:0.5em 0;">Mes guichets</h3>
		<p>
			Vous trouverez ci-dessous la liste des guichets et des couches 
			auxquels vous êtes abonnés sur l'espace collaboratif.
		</p>
		<ul class="nomap">
			<li [data-input] onclick="wapp.setGuichet()">
				<label>Désolé, vous n'avez pas de carte sur votre compte...</label>
				<div data-input-role="info">
					Vous devez être inscrit à un guichet pour accéder à ses cartes...
				<div>
			</li>
		</ul>
		<ul class="guichet"></ul>
	</div>

	<!-- Liste des cartes-->
	<div data-role="onglet-li" data-list="maps">
<!--
		<p style="margin:1em;">
			Vous pourrez prochainement charger vos propres cartes sur cette page...
		</p>
-->
		<button class="button big-button" style="float:right;" onclick="wapp.cache.getCacheDir()">Répertoire de sauvegarde (<span class="cacheroot"></span>)</button>
		<ul data-role="list">
			<li data-role="template">
				<i class="fa fa-map-o"></i>
				<input type="text" class="nom" placeholder="Nom de la carte" /><i class="clear-input"></i>
				<div class="menu">
					<i class="fa fa-map-o button"></i>
					<i class="fa tools-locate button"></i>
					<br />
					<i class="fa fa-refresh button"></i>
					<i class="fa fa-trash button"></i>
				</div>
				<div class="info">
					<span class="dalle">x</span> dalle(s) chargée(s) le <span class="date">01/01/2015</span>.
				</div>
			</li>
		</ul>
		<button class="button big-button addmap" style="float:right;">Ajouter une carte...</button>
	</div>
</div>