<div data-role="header" data-back-button="true">Paramètres</div>
<div data-role="content">
	<ul>
		<li class="title">
			Affichage
		</li>
		<li data-input="check" data-param="rotmap">
			<label>Rotation de la carte </label>
			<div data-input-role="info">Autoriser la rotation de la carte.</div>
		</li>
		<li data-input="check" data-param="zoombt" data-default=false>
			<label>Boutons de zoom </label>
			<div data-input-role="info">Afficher les boutons de zoom sur la carte.</div>
		</li>
		<li data-input="check" data-param="searchbt" data-default=true>
			<label>Boutons de recherche</label>
			<div data-input-role="info">Afficher un bouton pour rechercher une adresse sur la carte.</div>
		</li>
<!--
		<li data-input="text" data-param="toto">
			<input type="text"/><i class="clear-input"></i>
			<div data-input-role="info">Entrez un nom.</div>
		</li>
-->
		<li class="title">
			Signalement
		</li>
		<li data-input="custom" class="connect" onclick="wapp.connect();">
			<label class="">Identifiant de connexion </label>
			<div data-input-role="info"><span class="deconnected">Vous n'êtes pas connecté.</span><span class="connected"></span></div>
		</li>
		<li data-input="check" data-param="igntheme" data-default=false>
			<label>Thématique étendue</label>
			<div data-input-role="info">Afficher les thèmes IGN dans les signalements.</div>
		</li>

  
		<li class="title">
			Divers
		</li>

		<li data-input="button" onclick="wapp.help.reset(); wapp.hidePage(); wapp.help.show('main')">
			<label>Réinitialiser l'aide en ligne</label>
			<div data-input-role="info">L'aide en ligne ne s'affiche qu'une seule fois. 
			Vous pouvez la réactiver pour un nouveau parcours guidé.</div>
		</li>

		<li class="title">
			Paramètres avancés
		</li>

		<li data-input="check" data-param="extended" data-default=false>
			<label>Mode avancé</label>
			<div data-input-role="info">Afficher plus de fonctionnalités.</div>
		</li>

		<li data-input="text" data-param="minGPSAccuracy" data-default=100>
			<label style="display: block; width: Calc(100% + 1em);">
				Précison GPS (m)&nbsp;: 
				<input type="number" min="0" style="width:4em; padding-left:0.5em;"/>
				<i class="clear-input"></i>
			</label>
			<div data-input-role="info">
				Marge d'erreur au-dessus de laquelle les points GPS ne seront 
				pas enregistrés dans la trace (en m).
			</div>
		</li>
		<li data-input="text" data-param="toleranceGPS" data-default=5>
			<label style="display: block; width: Calc(100% + 1em);">
				Distance GPS (m)&nbsp;: 
				<input type="number" min="0" style="width:4em; padding-left:0.5em;"/>
				<i class="clear-input"></i>
			</label>
			<div data-input-role="info">
				Distance minimal entre deux points GPS sur la trace (en m).
			</div>
		</li>
	  
		<li data-input="check" data-param="qlf" class="debug" data-default=false>
			<label>Serveur de qualif</label>
			<div data-input-role="info">Utiliser le serveur de qualif plutôt que le serveur de prod (mode debug uniquement)</div>
		</li>
	</ul>
</div>