<div data-role="header" data-back-button="true"><span class="fromRipart" onclick="wapp.showPage('signalements')">&#x2770;</span>Fiche</div>
<div data-role="onglet">
	<div class="trackingInfo">
		<i class="backArrowBt"></i> retour à la fiche
		<i class="fa fa-map-marker"></i>
	</div>
	<div data-role="onglet-bt">
		<div data-list="info">
			<i class="fa fa-id-card"></i>Fiche
		</div>
		<div data-list="signal">
			<i class="fa fa-wifi fa-rotate-90"></i>Signaler
		</div>
		<i class="fa fa-close" style="font-size:1.5em; padding:0.75em 0.5em; float:right; cursor:pointer" onclick="wapp.hidePage();"></i>
		<i class="fa fa-close fromRipart" style="font-size:1.5em; padding:0.75em 0.5em; float:right; cursor:pointer" onclick="wapp.showPage('signalements')"></i>
	</div>

	<!-- Fiche -->
	<div class="selection" data-role="onglet-li" data-list="info" >
		<i>Pas de sélection...</i>
		<div class="georem">
			<h3>Signalement :</h3>
			<ul>
				<li>
					<label>Identifiant :</label>
					<span data-attr="id" data-prefix="#"></span>
				</li>
				<li>
					<label>Date :</label>
					<span data-attr="date" ></span>
				</li>
				<li>
					<label>Commune :</label>
					<span data-attr="commune"></span>
				</li>
				<li>
					<label>Département :</label>
					<span data-attr="id_dep"></span>
				</li>
				<li>
					<label>Commentaire :</label>
					<span data-attr="comment"></span>
				</li>
				<li>
					<img class="photo" data-src="photo" style="max-width:100%;" />
				</li>
				<li>
					<label>Thèmes :</label>
					<span data-attr="themes" data-array="1" data-sep=", "><span>%nom% (%groupe%)</span></span>
					<span data-attr="theme"></span>
				</li>
			</ul>
			<div style="width:100%; margin-top:0.5em;" >
				<div data-role="dialogBt" class="del" onclick="wapp.delGeorem();">Supprimer</div>
				<div data-attr="id" data-null="1" data-role="dialogBt" class="send" onclick="wapp.postGeorem();">Envoyer</div>
			</div>
			<div data-attr="rep" data-nnull="1">
				<h3>Réponses :</h3>
				<ul data-role="list" data-attr="rep" data-array="1">
					<li class="%statut%"><span>%date%</span> %titre% : %comment%</li>
				</ul>
			</div>

		</div>
		<div class="fiche">
			<button class="button" onclick="wapp.validFiche()">Modifier</button>
			<ul></ul>
			<button class="button" onclick="wapp.validFiche()">Modifier</button>
		</div>
	</div>

	<!-- Signaler -->
	<div class="signaler" data-role="onglet-li" data-list="signal" data-template="onglet-signaler"></div>

</div>