<div data-role="header" data-back-button="true">Guichet</div>
<div data-role="onglet">
  <div data-role="onglet-bt">
    <div data-list="info">
      <i class="fa fa-id-card"></i>Guichet
    </div>
    <div data-list="offline">
      <i class="fa fa-wifi slash"></i>Hors-ligne
    </div>
  </div>

  <!-- Info -->
  <div class="info" data-role="onglet-li" data-list="info" >
    <img />
    <h3 class="title"></h3>
    <p class="description"></p>
    <i class='tools-layers background'></i>
    <h3>Couches disponibles :</h3>
    <ul class="layers"></ul>
    <div class='auth'>
      <i class='fa fa-lock background'></i>
      Certaines couches de ce guichet nécessite un mot de passe spécifique...
      <br/>
      <div class="warning-container">
        <a>Ré-initialiser le mot de passe.</a>
      </div>
    </div>
  </div>

  <!-- Hors ligne -->
  <div class="offline" data-role="onglet-li" data-list="offline" data-template="onglet-offline">
  </div>

</div>