<div data-role="header" data-back-button="true">A propos...</div>
<div data-role="content">
	<img class="bandeau" src="img/guichet.jpg">
	<h2>
		Mon guichet mobile v.<span class="version">1.0.0</span> <pan style="color:orange">bêta</pan>
		<span style="font-size:0.5em; display: block;">
			La solution IGN pour gérer une base de données de façon collaborative.
		</span>
	</h2>

	<div class="warning-container">
		<div>
			<h3>
				Avertissement
			</h3>
			<p>
				Cette application est proposée en mode bêta.
				<br/>
				L'application est en cours de développement et toutes les fonctionnalités 
				ne sont pas encore implémentées.
				Certaines fonctionnalités peuvent être instable ou dysfonctionner.
			</p>
			<p>
				Merci de votre compréhension.
			</p>
		</div>
	</div>

	<i class="fa fa-map fa-2x" style="float:left; margin-top: 0.25em;"></i>
	<p style="padding-left: 3em;">
		« Mon guichet » est une application personnalisable. 
		<br/>
		Elle permet à un groupe d’utilisateurs de constituer et faire vivre, ensemble, 
		une base de données métier (des hydrants pour un service départemental d’incendie 
		et de secours, des collisions avec des animaux pour une fédération de chasse…), 
		c’est-à-dire saisir, éditer, supprimer des objets de cette base.
	</p>
	<i class="fa fa-list-ul fa-2x" style="float:left; margin-top: 0.25em;"></i>
	<p style="padding-left: 3em;">
		La définition et la configuration du guichet se fait sur
		<a href="https://espacecollaboratif.ign.fr/" target="_system">l'Espace Collaboratif de l'IGN</a>.
		<br/>
		<i>
			Vous devez avoir un compte sur cet espace pour avoir accès à toutes les fonctionnalités de
			l'application.
		</i>
	</p>
	<i class="fa fa-exclamation-circle fa-2x" style="float:left; margin-top: 0.25em;"></i>
	<p style="padding-left: 3em;">
		Un outil collaboratif de signalement (remontée d’anomalie, information erronée…) est 
		en outre disponible. Ainsi certains utilisateurs peuvent participer à la mise à jour 
		de vos données sans les manipuler directement. Vous gardez le contrôle intégral 
		de vos données.
	</p>


</div>