<div data-role="header" data-back-button="true">A propos...</div>
<div data-role="content">
	<h2>
		Mes guichets mobile v.<span class="version"></span>
	</h2>

	<h3>
		Espace collaboratif
	</h3>
	<center><i class="fa fa-database fa-3x"></i> </center>
	Accédez aux bases de données hébergées sur l'espace collaboratif depuis votre mobile.

	<center><i class="fa fa-exclamation-triangle fa-3x"></i> </center>
	Participez à l’amélioration des données IGN, en signalant des évolutions ou des erreurs via une interface dédiée. 
	Le fond cartographique visible en fond est mis à jour quotidiennement, reflétant les dernières évolutions de nos données. 
	Vous pouvez ainsi suivre plus facilement la prise en compte de vos remarques par l’IGN.


</div>