<div data-role="header" data-back-button="true">Rechercher...</div>
<div data-role="content">
	<ul>
		<li title="sdis86:hydrants_sdis86" onclick="wapp.setGuichet($(this).attr('title')); wapp.hidePage();">
			<i class="fa fa-address-card"></i>
			sdis86 : "Table des hydrants du SDIS de la Vienne" (Poitiers)
			<div data-input-role="info"></div>
		</li>
		<li title="demo_guichet:piste_cyclable" onclick="wapp.setGuichet($(this).attr('title')); wapp.hidePage();">
			<i class="fa fa-address-card"></i>
			Guichet des pistes cyclables (Saint-Mandé)
			<div data-input-role="info"></div>
		</li>
	</ul>
</div>