/** Options */
#options ul {
  margin: 0 -0.5em;
  padding: 0;
  list-style: none;
  border-bottom: 1px solid #ccc;
}
#options ul li {
  background-image: -webkit-linear-gradient(#fff, #eee); /* For Safari 5.1 to 6.0 */
  background-image: linear-gradient(#fff, #eee);
  border: 0;
  border-top: 1px solid #ccc;
  width: 100%;
}
#options ul li.title {
  background: #09c;
  border: 0;
  color: #fff;
  margin-top: 0.5em;
  padding: 0.3em 1em;
}