.cache
.dist
.vscode
.idea
.VSCodeCounter
hooks
node_modules
node_modules-copie
platforms
plugins
res
www
cordovapp-*
# OS X
.DS_Store
/naviforest/src/assets/templates/menu-principal.css.0
/naviforest/src/assets/templates/menu-principal.html.0
