.cache
.parcel-cache
.dist
.vscode
.idea
.VSCodeCounter
.env
hooks
node_modules
node_modules-copie
platforms
plugins
res
www
cordovapp-*
src/appli
# OS X
.DS_Store
/naviforest/src/assets/templates/menu-principal.css.0
/naviforest/src/assets/templates/menu-principal.html.0
typings
jsconfig.json
