/* The map */
#map {
  position:fixed;
  top:0; left:0;
  right:0; 
  bottom: 4em;
}

#map .ol-attribution a {
  text-decoration: none;
  color: #000;
  cursor: default;
  pointer-events: none;
}

#map .ol-disable {
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  border:30px solid rgba(0,0,0,0.5);
}
#map .ol-disable:before,
#map .ol-disable:after {
  content: "";
  background: #f00;
  width: 20px;
  height: 2px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
}
#map .ol-disable:after {
  height: 20px;
  width:2px;
}

/**
  Tablette horizontale
*/
@media screen and (orientation:landscape) and (min-width:1024px) {

  #fiche {
    width:50%;
  }

  [data-page="fiche"] #map {
    width:50%;
    left:auto;
  }
  [data-page="fiche"] #map .menuCtrl,
  [data-page="fiche"] #map .ol-zoom {
    display: block;
  }

  #couches,
  #layer-carte,
  #layer-geoportail,
  #layer-guichet,
  #offline,
  #layer-signalement,
  #layers {
    width: 50%;
  }

}

/**
  Tablette verticale
*/
@media screen and (orientation:portrait) and (min-height:1024px) {

  #fiche {
    height: 65%;
    top: 35%;
  }

  [data-page="fiche"] #map {
    height:35%;
    bottom:auto;
  }

}

/** GeodrawCtrl */
#map .ol-geobar {
  bottom: 1.5em;
  right: 0.5em;
  background: rgba(255,255,255,.8);
}

.ol-bar.ol-geobar .geolocBt button:before {
  content: "\f124";
  font-family: FontAwesome;
  border: none;
  -webkit-transform: none;
  transform: none;
  width: 100%;
  height: 1em;
  top: 0;
  left: 0;
  line-height: 1em;
  position: relative;
}
.ol-bar.ol-geobar .geolocBt button:after {
  content: none;
}
.ol-bar.ol-geobar .startBt button:before {
  font-size: .85em;
}
.ol-control.ol-geobar .ol-control.ol-text-button button {
  transform: scaleY(2.7);
  font-size: .7em;
  color: rgba(0, 60, 136, .75);
  padding-bottom: .1em;
}
.ol-geobar .ol-active button {
  animation: blink-animation 1s linear infinite;
}
@keyframes blink-animation {
  0% {
    background-color: rgba(0,60,136,.3);
  }
  70% {
    background-color: rgba(0,60,136,.3);
  }
  71% {
    background-color: rgba(0,60,136,0.9);
  }
  100% {
    background-color: rgba(0,60,136,0.9);
  }
}

/** Attribution */
.ol-control.ol-attribution {
  background-color: rgba(255, 255, 255, 0.6);
  height: auto;
  line-height: 0.4em;
  padding: 0 0.25em;
  left: 0;
  right: auto;
  border-radius: 0 4px 0;
}

.ol-scale-line {
  bottom: 2em;
}

.menuCtrl {
  top: 0.5em;
  left: 0.5em;
}
.searchCtrl {
  top: 2.5em;
  left: 0.5em;
}
.ol-touch .searchCtrl {
  top:3.5em;
}
.ol-search.searching:before {
  top: 2.6em;
}
.ol-zoom {
  left: auto;
  top: 6.5em;
  left: 0.5em;
}
.ol-rotate {
  right: 0.5em;
}

.ol-control {
  font-size:2em;
}
.ol-control .ol-control {
	font-size: 1em;
}

.ol-search.IGNF-parcelle.ol-collapsed-list ul.autocomplete-parcelle,
.ol-search.IGNF-parcelle.ol-collapsed-list ul.autocomplete-page {
  display: block!important;
}

.ol-control.switcher {
  top: .5em;
  right: .5em;
  left: auto;
}

[data-role="dialog"].layerInfo img.preview {
  width: 128px;
  height: 128px;
  box-shadow: 1px 1px 5px;
  float: left;
  margin-right: .5em;
}

#map .ol-rotate {
  border-radius: 50%;
  top: .25em;
  right: 2.5em;
  font-size: 2.5em;
}
#map .ol-rotate button {
  color: transparent;
  border-radius: 50%;
}
#map .ol-rotate span {
  font-size: 1em;
}
#map .ol-rotate button .ol-compass:before,
#map .ol-rotate button .ol-compass:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border: .55em solid rgba(255,255,255,.5);
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%) scaleX(.35) rotate(45deg);
}
#map .ol-rotate button .ol-compass:after {
  border-width: .4em;
  border-color: #800 #fff #fff #800;
  opacity: .8;
}
#map .ol-rotate:hover button .ol-compass:after {
  opacity: 1;
}

#layer-geoportail .ol-layer-group.cache {
  display: none;
}
.offline #layer-geoportail .ol-layer-group.cache {
  display: block;
}

.ol-button.centergps {
  right: .5em;
  top: 3.5em;
}
.ol-button.centergps.center button {
  background-color: rgba(0,136,60,0.5);
}

.ol-bar.ol-geobar.centerTrack .centerBt {
  display: none
}

.ol-bar.ol-geobar.centerTrack .startBt,
.ol-bar.ol-geobar.centerTrack.pauseTrack .pauseBt {
  display: inline-block;
}

.ol-bar.ol-geobar.centerTrack.pauseTrack .startBt {
  display: none;
}