<div data-role="header" data-back-button="true">A propos...</div>
<div data-role="content">
  <div class="img" style="display: none;">
    <img class="logo" src="img/ign.png" />
  </div>
  <img class="bandeau" src="img/guichet.jpg">
  <h2>
    NAVIFOREST.<span class="version">1.0.0</span>
    <span style="font-size:0.5em; display: block;">
     La cartographie collaborative pour le transport de bois.
    </span>
  </h2>

  <p>
    <b>«&nbsp;NAVIFOREST&nbsp;»</b>  est un service en ligne gratuit permettant de visualiser, créer, modifier des informations et
     des données spécifiques au transport des bois.
  </p><p style="font-style:italic; color: #333;">
    Vous devez avoir un compte sur cet espace pour avoir accès à toutes les fonctionnalités de l'application.
  </p><p>
    Un outil collaboratif de signalement (remontée d’anomalie, information erronée…) est inclus. 
    Les signalements permettent aux utilisateurs authentifiés d’indiquer des modifications, 
    des manques ou des incohérences dans la base de données. Vous gardez le contrôle intégral de vos données.
  </p>

 <div class="groupe">
    <img class="logo" src="img/ign.png" />
    <h3>Groupe <span></span></h3>
    <div></div>
  </div> 

  <h2>
    «&nbsp;Mentions légales&nbsp;»
  </h2>

  <h3>
    Editeur
  </h3>
  <p>
    L’application «&nbsp;Espace collaboratif IGN&nbsp;»  est éditée par l’Institut national de l’information géographique et forestière (IGN), 73 avenue de Paris, 94165 SAINT-MANDE CEDEX, France,
    Tél : 01 43 98 80 00.
    Directeur de la publication : Sébastien Soriano, Directeur général de l'IGN.
  </p>

  <h3>
    Traitement des données à caractère personnel
  </h3>
  <p>
    Les informations issues des formulaires remplis par l’utilisateur sont anonymes et sont consultables sur 
    le site espacecollaboratif.ign.fr.
  </p><p>
    Le destinataire des données est l’IGN.
  </p><p>
    Conformément à la loi «&nbsp;Informatique et libertés&nbsp;» du 6 janvier 1978, vous bénéficiez d’un droit d’accès 
    et de rectification aux informations qui vous concernent, que vous pouvez exercer en vous adressant à l’IGN aux 
    coordonnées accessible via le lien «&nbsp;nous écrire&nbsp;» en bas de page.
  </p>

  <h3>
    Droit de propriété intellectuelle
  </h3>
  <p>
    Les illustrations, le contenu éditorial, les divers éléments de la charte graphique ainsi que les données 
    cartographiques IGN issues de la consultation en ligne figurant sur l’application 
    «&nbsp;Espace collaboratif&nbsp;» sont des éléments dont l’IGN détient la propriété ou le droit d’exploitation.
  </p><p>
    Les données métiers du guichet restent la propriété de l’utilisateur de l’application.
  </p><p>
    L’utilisation des documents ou éléments du site est soumise à l’accord préalable de notre établissement.
  </p>

  <h3>
    CGU
  </h3>
  <p>
    Plus d'information sur les CGU&nbsp;: <a href="https://espacecollaboratif.ign.fr/cgu/" target="_system">https://espacecollaboratif.ign.fr/cgu/</a>.
  </p>

  <h2>
    Nous contacter
  </h2>
  <p>
    Pour toute demande, merci d'utiliser le <a href="https://espacecollaboratif.ign.fr/contact-us/" target="_system">formulaire de contact de l'Espace Collaboratif de l'IGN</a>.
  </p>

</div>