/** A propos */
#apropos [data-role='content']
{	overflow-x: hidden;
}
#apropos .img {
	position: absolute;
	width: 6em;
	height: 6em;
	border-radius: 50%;
	top: 2em;
	left: 1em;
	overflow: hidden; 
	z-index:1;
	background-color: rgba(255,255,255,.8);
}
#apropos .img img.logo {
	position: absolute;
	height: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

#apropos .groupe img {
	max-width: 30%;
	max-height: 6em;
	float: left;
	margin: -.5em .5em .5em 0;
}
[data-logo='none'] #apropos .img {
	display: none;
}

#apropos h2 {
	clear: both;
}

#apropos p {
  text-align:justify;
}
#apropos img.bandeau {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
	margin:-1em 0;
	min-width: Calc(100% + 2em);
  min-height: 200px;
}

@media screen and (max-width:600px) {
	#apropos p
	{	text-align:left;
	}
}