#editionBar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 2em;
  font-size: 2em;
  padding: 0.5em 2.5em 0.5em 2em;
  background: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: none;
}
#editionBar:before {
  content: "\f044";
  font-family: fontawesome;
  position: absolute;
  left: .5em;
}
#editionBar > * {
  vertical-align: top;
  display: inline-block;
}
#editionBar button {
  position: absolute;
  right: 0;
  border: 10px solid #fff;
  top: 50%;
  transform: translateY(-50%);
  margin: 0;
}


[data-layer-edition] #editionBar {
  display: block;
}

/* Prevent signalements */
[data-layer-edition] #signaler,
[data-layer-edition] [data-list="signal"] {
  display: none;
}

/* Buttons */
.ol-overlaycontainer .ol-touch-cursor .ol-button.ol-button-info:before {
  content: "\f129";
}
.ol-overlaycontainer .ol-touch-cursor .ol-button.ol-button-modify,
.ol-overlaycontainer .ol-touch-cursor .ol-button.ol-button-quit {
  background-color: rgba(51,102,153, .7)!important;
  opacity: 1!important;
}
.ol-overlaycontainer .ol-touch-cursor .ol-button.ol-button-quit:before {
  content: "\f00d";
  color: #fff;
}