[data-role='page'] {
  z-index: 1;
}

#signaler,
#signalerGPS {
  position: fixed;
  bottom: 0.3em;
  right: 0.5em;
  background: orange;
  border-radius: 50%;
  box-shadow: 1px -1px 5px 1px rgba(0,0,0,0.5);
  font-size: 2.75em;
  padding: 0.2em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.2em;
  color: #fff;
}
[data-page="fiche"] #signaler,
[data-page="fiche"] #signalerGPS {
  display: none;
}

#signalerGPS {
  right: 2.5em;
}
#signalerGPS:before {
  position: absolute;
  left: 0;
  top: 0;
  font-size: .8em;
  text-align: right;
  width: 100%;
  line-height: 1em;
  padding: .14em .32em;
  box-sizing: border-box;
}
#signalerGPS:after {
  content: "";
  position: absolute;
  width: .11em;
  height: .11em;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  margin: .05em -.05em;
  background-color: #fff;
  box-shadow: 0.2em 0, -0.18em 0.08em, -0.3em 0.24em, -0.18em 0.35em, -0.02em 0.43em, .1em 0.56em;
}

#selection {
  position:fixed;
  left:0; right:0; 
  bottom: 0;
  height: 2em;
  font-size: 2em;
  padding: 0.5em 2.5em 0.5em 2em;
  background: #fff;
  white-space: nowrap;
  cursor: pointer;
  overflow: hidden;
    text-overflow: ellipsis;
}

#selection:after {
  content: "\f2c2";
  font-family:"FontAwesome";
  position:absolute;
  left:0.5em;
}



#createupdateObj {
  position: fixed;
  bottom: 0.3em;
  right: 2.3em;
  background: blue;
  border-radius: 50%;
  box-shadow: 1px -1px 5px 1px rgba(0,0,0,0.5);
  font-size: 2.75em;
  padding: 0.2em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  line-height: 1.2em;
  color: #fff;
}


/** Debug */
div.debug,
.debug {
  display: none;
}

/** Loading */
.loading {
  opacity: 0.5;
}
.loading:before {
  content:"\f110";
  font-family: "FontAwesome";
  font-size: 3em;
  position: absolute;
  right: 0.5em;
  top: 0.5em;
  animation: 1s steps(8) 0s normal none infinite running fa-spin;
}

/** Legende */
[data-role=dialog].legend {
  width: 40em;
  max-width: 90%;
  font-size: 1.7em;
}
@media screen and (max-width: 700px) {
  [data-role=dialog].legend {
    font-size: 1.5em;
  }  
}
.legend ul {
  margin: 0;
  padding:0;
  list-style: none;
}
.legend li {
  min-height: 3em;
  border-bottom: 1px solid #ccc;
  padding: 0.5em 0 0.5em 4em;
}
.legend .symb {
  width: 2em;
  font-size: 1.8em;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  position: absolute;
  left: 0.25em;
}
.legend .symb .marker {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: inline-block;
  background: #999;
  position: relative;
  top: -5px;
  font-size: 30px;
}
.legend .symb .marker:after {
  content: "";
  background: #fff;
  width: 15px;
  height: 15px;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 50%;
}
.legend .symb .marker:before {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 21px;
  left: 1px;
  border: 15px solid transparent;
  border-top-color: inherit;
  border-width: 17px 14px;
}

/** warning */
.warning-container {
  -webkit-background-image: repeating-linear-gradient(-45deg, rgb(255, 221, 0), rgb(255, 221, 0) 11px, rgb(136, 136, 136) 10px, rgb(136, 136, 136) 20px); 
  background-image: repeating-linear-gradient(-45deg, rgb(255, 221, 0), rgb(255, 221, 0) 11px, rgb(136, 136, 136) 10px, rgb(136, 136, 136) 20px); 
  background-size: 28px 28px; 
  padding: 0.5em; 
  margin: 1em 0.5em; 
  display: block;
}
.warning-container > div {
  padding:0.5em; 
  background: #fff;
}

/** FontaAwesome */
.fa-fleft {
  float: left;
  margin-right: .5em;
}
.fa.fa-lg0 {
  font-size: 1.5em;
}

/** Boutton */
.button {
  background-color: #369;
  border: 0 none;
  color: #fff;
  display: inline-block;
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.1em 0.5em;
  position: relative;
  top: -0.15em;
  vertical-align: middle;
  margin: 0 0.3em;
  cursor:pointer;
}
.big-button {
  margin: 1em 0.3em;
  padding: 0.5em;
}

.fa.button {
  padding:0.5em;
  font-size:1.5em;
  cursor:pointer;
  font-weight: normal;
}

/** */
#splash {
  -webkit-transform: none;
  transform: none;
  text-align: center;
}
#splash img {
  position: absolute;
  top: 40%;
  min-height: 100px;
  max-width: 80%;
  max-height: 80%;
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
#wait.splash > i {
  position:absolute;
}
#wait.splash .message {
  margin:0;
  text-align: center;
  min-height: 3em;
}
#wait.splash img {
  min-height: 3em;
  max-height: 4em;
}
#wait.splash img.error {
  visibility: hidden;
  min-height: 0.5em;
}
#wait.splash p {
  margin:0;
}


/** info */
#info {
  background-color: rgba(0,0,0,0.8);
  position: fixed;
  bottom:1em;
  right:5em;
  color:#fff;
  padding:0.5em;
  display: none;
}

/** Menu */
[data-role="menu"] li button {
  background-color: #d00;
  border: 0;
  border-radius: 50%;
  box-sizing: unset;
  color: #fff;
  font-size: 1.1em;
  font-weight: bold;
  line-height: 1;
  padding: 2px;
  position: absolute;
  text-align: center;
  top: -0.25em;
  right: -0.8em;
  width: 1.3em;
  height: 1.3em;
}
[data-role="menu"] li button.hidden {
  display: none;
}

/** Load canvas page */
#loadCanevas {
  bottom: 0;
  font-size: 2em;
  height: 2em;
  padding: 0.5em;
  top: auto;
}
#loadCanevas .button {
  float: right;
}

/** Load maps page */
#loadGuichet,
#cacheExtent,
#loadMap {	
  top: auto;
  bottom: 0;
  font-size: 2em;
  height: 2em;
  padding: 0.5em;
}
#loadGuichet .button,
#cacheExtent .button,
#loadMap .button {
  float: right;
  font-size: 1em;
  top: auto;
  margin-top: -0.2em;
}

#loadGuichet .button:disabled, #cacheExtent .button:disabled {
  opacity: 0.5;
}

[data-page="loadGuichet"] #map:after,
[data-page="cacheExtent"] #map:after,
[data-page="loadMap"] #map:after {
  border: 20px solid rgba(0, 0, 0, 0.5);
  border-bottom-width: 80px;
  position: absolute;
  pointer-events: none;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
}
[data-page="loadMap"] p.error,
[data-page="loadMap"] p.tileCount {
  color: #fff;
  position: absolute;
  bottom: 35px;
  width: 100%;
  text-align: center;
  z-index: 1;
  pointer-events: none;
  margin: 1em -.5em
}
[data-page="loadMap"] p.tileCount small {
  font-size: .75em;
  display: block;
}
[data-page="loadMap"] p.error,
[data-page="loadMap"] .noTile p.tileCount {
  display: none;
}
[data-page="loadMap"] .noTile p.error{
  display: block;
}
[data-page="loadGuichet"] #signaler,
[data-page="loadGuichet"] #signalerGPS,
[data-page="loadGuichet"] #map .ol-control,
[data-page="cacheExtent"] #signaler,
[data-page="cacheExtent"] #signalerGPS,
[data-page="cacheExtent"] #map .ol-control,
[data-page="loadMap"] #signaler,
[data-page="loadMap"] #signalerGPS,
[data-page="loadMap"] #map .ol-control {
  display: none;
}

[data-page="loadGuichet"] #map .ol-control.centergps,
[data-page="cacheExtent"] #map .ol-control.centergps,
[data-page="loadMap"] #map .ol-control.centergps {
  display: block;
  right: 1em;
}

/* Template pour la creation*/
[data-role="template"] {
  display: none!important;
}

/** Checkbox */
[data-input="check"].checked::after {
  content: "\f00c";
  font-family: FontAwesome;
  font-size: 1.3em;
  font-weight: normal;
  margin-top: -0.55em;
}

/** Date error */
.date-error .fa-refresh {
  background-color: #a00;
}
.date-error .info {
  color: #a00;
}

.date-warning .fa-refresh {
  background-color: #f90;
}
.date-warning .info {
  color: #f90;
}

/** Ripart */
#options li.connect span.connected {
  display: none;
}
#options li.connect .connected span.connected {
  display: initial;
}
#options li.connect .connected span.deconnected {
  display: none;
}

[data-role="dialog"].connect {
  max-width: 22em;
  overflow-x: hidden;
}
[data-role="dialog"].connect .buttons {
  -webkit-transform: scaleX(0.8);
  transform: scaleX(0.8);
  -webkit-transform-origin: 0 0 0;
  transform-origin: 0 0 0;
  width: 125%;
}
[data-role="dialog"].connect [data-role="dialogBt"] {
  font-stretch: normal;
}

[data-role="dialog"].connect .buttons > input:nth-child(2) {
  display: inline-block;
}

/** Profil */
.profil  {
  text-align: right;
}
.profil img {
  max-width: 4em;
  max-height: 3em;
  vertical-align: middle;
}
.profil .title {
  margin: 0.5em;
  font-weight: bold;
  vertical-align: middle;
  width: calc(100% - 5em);
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


/** Formulaire RIPart */
#fiche .signaler.connected .connect,
#fiche .signaler.connected.formulaire .formulaire {
  display: block;
}

#fiche .signaler .noconnect .button {
  margin: 1em 0;
  width:100%;
}

#fiche .signaler .connect,
#fiche .signaler.connected .formulaire,
#fiche .signaler.connected .noconnect,
#fiche .signaler.connected.formulaire .info {
  display: none;
}

#fiche .signaler .position label,
#fiche .signaler .position p {
  display: none;
}

#fiche .signaler .lon,
#fiche .signaler .lat {
  width: Calc(50% - 0.5em);
  padding: 0;
  max-width: 10em;
}
#fiche .signaler .lon {
  text-align: right;
}
#fiche .signaler [data-input=select] {
  padding:0 1em 0 0;
}

#fiche .signaler .movePosition {
  background: #369;
  color: #fff;
  padding: 0.3em 0.5em;
}
body.trackingGeorem #fiche .signaler .movePosition {
  background: #396;
}


/** */
[data-list=signal] .formulaire {
  padding-bottom: 1em;

}
[data-list=signal] .formulaire ul {
  margin:0;
  padding:0;
  list-style: none;
}
[data-list=signal] .formulaire textarea {
  width: 100%;
  height: 5em;
  font-size: 1em;
  font-family: "HelveticaNeue-Light","HelveticaNeue",Helvetica,Arial,sans-serif;
}
[data-list=signal] .formulaire .photo {
  text-align: center;
  font-size: 2em;
}
[data-list=signal] .formulaire .photo img {
  max-width:90%;
  width: 400px;
  display:none;
}
[data-list=signal] .formulaire .photo * {
  cursor:pointer;
}
[data-list=signal] .formulaire .photo .text-danger {
  color:rgba(255,0,0,0.6);
}

[data-list=signal] .buttons {
  margin-top:0.5em;
}

#fiche [data-list=signal] .gps,
#fiche .gps [data-list=signal] .position,
#fiche .gps [data-list=signal] .addfeatures,
#fiche .gps [data-list=signal] .addCroquis,
#fiche .gps [data-list=signal] .photo,
#fiche .gps .fa-check,
#fiche .gps [data-list=signal] .save {
  display: none!important;
}

#fiche .gps [data-list=signal] .gps {
  display: inline-block!important;
}

/** Dialog attributs*/
[data-role="dialog"].attributes .buttons{
  position: sticky;
  bottom: -1em;
  left: -1em;
  background: #fff;
  width: calc(100% + 2em);
  height: 3.1em;
  padding: 0;
  margin: -1em;
}
[data-role="dialog"].attributes ul {
  margin:0;
  padding:0;
  list-style: none;
}
[data-role="dialog"].attributes li[data-input] {
  padding:0.5em 0;
}

[data-role="dialog"] ul div.listimage {
  position: relative;
  height: 2em;
  width: 3em;
  overflow: hidden;
  margin: -.5em .5em .5em 0;
  float: left;
}
[data-role="dialog"] ul .listimage img {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
[data-role="dialog"] ul img.listimage {
  max-height: 2.15em;
  float: left;
  margin-top: -.5em;
  padding-right: .5em;
}
[data-role="dialog"].attributes ul img.listimage {
  margin-top:-1.2em;
}
[data-role="dialog"].attributes label.listimage {
  padding-left: 3em;
}

/* Operation */
.operation[data-date] {
  display:none;
}
[data-role=notinfo] .magenta .icon {
  color: #f0f;
  opacity: 0.5;
}

.blinking {
  animation: blinking 1s linear infinite;
}

@keyframes blinking {
  from { visibility: visible; }
  49.9% { visibility: visible; }
  50%{ visibility: hidden; }
  to { visibility: hidden; }
}

li[data-class="nb=0"],
span[data-class="nb=1"] {
  display: none;
}


/* Dialog savecache */
.dialog-savecache ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.dialog-savecache li {
  padding: .5em;
  border-bottom: 1px solid #ccc;	
}

/* Mode avance */
[data-mode="debutant"] .confirme,
[data-mode="confirme"] .expert,
[data-mode="debutant"] .expert {
  display: none!important;
}

.fa-disable {
  opacity: .5;
}

/** Info dans un dialog */
[data-role=dialog] .info {
  font-size: .9em;
  color: #369;
}



/*Mode édition: create-update objects */
select#layerToEdit{
  position: absolute;
  left: 5em;
  top: 1em;
  width: auto;
  
  background-color: #fff;
  border: 1px gray solid;
  padding:2px;
  display:none;
  font-family: 'FontAwesome', 'Arial';
  font-size: 1.5em;
}

#layerToEdit option{
  font-size :1.5m;
}


.ol-overlaycontainer .ol-touch-cursor .ol-button.ol-button-fiche:before {
  content: "\f298";
}