<div>
  <span data-attr="length"></span> dalles chargées le <span data-attr="date"></span>
  <ul>
    <li>
      Couche : <span data-attr="name"></span>
    </li>
    <li>
      Zoom : <span data-attr="minZoom"></span>
    </li>
  </ul>
  <div class="buttons" style="text-align:center;">
    <button class="loadmap button" style="width: 100%;">
      <i class="fa fa-cloud-download"></i> Charger de nouvelles dalles...
    </button>
    <br/>
    <button class="centermap button" style="width: 100%; margin-top: .5em;">
      <i class="fa tools-locate"></i> Centrer sur la carte
    </button>
  </div>

</div>