<div id="dialog-cache-extent">
    <ul>
        <li data-input="text" data-param="name">
            Nom de la carte
            <input type="text" class="name" />
        </li>
        <li data-input="select" data-param="type">
            <label>Définition </label>
            <div data-input-role="option" class="type" data-val="select-obj">Par sélection d'objets</div>
            <div data-input-role="option" class="type" data-val="custom" data-default="true">Personnalisée</div>
        </li>
        <li class="layer-input" data-input="select" data-param="layer">
            <label>Couche de sélection</label>
        </li>
    </ul>
</div>

