<!-- Dialogue pour l'ajout d'une carte -->
<ul>
	<li data-input="text" data-param="nom">
		Nom de la carte
		<input type="text" class="name" />
	</li>

	<li data-input="select" data-param="layer">
		<label>Couche à charger </label>
		<div data-input-role="option" data-val="GEOGRAPHICALGRIDSYSTEMS.MAPS" data-default="true">Carte</div>
		<div data-input-role="option" data-val="ORTHOIMAGERY.ORTHOPHOTOS">Photographie aérienne</div>
		<div data-input-role="option" data-val="CADASTRALPARCELS.PARCELS">Parcelles cadastrales</div>
	</li>
	
	<li data-input="select" data-param="minZoom">
		<label class="listimage">Echelle </label>
		<div data-input-role="option" data-val="18">
			<img src="img/s18.jpg" class="listimage" />
			Rue
		</div>
		<div data-input-role="option" data-val="17">
			<img src="img/s17.jpg" class="listimage" />
			Quartier
		</div>
		<div data-input-role="option" data-val="15" data-default="true">
			<img src="img/s15.jpg" class="listimage" />
			Ville
		</div>
		<div data-input-role="option" data-val="13">
			<img src="img/s13.jpg" class="listimage" /> 
			Environs
		</div>
		<div data-input-role="option" data-val="12">
			<img src="img/s12.jpg" class="listimage" /> 
			Département
		</div>
		<div data-input-role="option" data-val="10">
			<img src="img/s10.jpg" class="listimage" /> 
			Région
		</div>
		<div data-input-role="option" data-val="7">
			<img src="img/s7.jpg" class="listimage" /> 
			Pays
		</div>
	</li>
		
</ul>