<!-- Dialogue pour l'ajout d'une carte Vecteur en cache -->
<div>
  <i class='info'>
    Pour pouvoir mettre à jour vos données, vous devez au préalable définir 
    la zone sur laquelle vous allez travailler et les couches que vous souhaitez modifier.
  </i>
  <ul>
    <li data-input="text" data-param="nom">
      Nom de la zone :
      <input type="text" class="name" placeholder="Sans titre" />
    </li>
    <li>
      Couches à ajouter :
    </li>
  </ul>
  <ul class="layerselect">
  </ul>
</div>