<div>
  <img />
  <h2>
    <i class="fa fa-exclamation-triangle fa-fleft" data-attr="warning" data-nnull="1"></i>
    <span data-attr="title"></span>
  </h2>
  <p data-attr="description"></p>
  <p class="noedit"><i class="fa fa-ban fa-fleft fa-2x"></i> Couche non éditable.</p>
  <p class="edit"><i class="fa fa-pencil-square-o fa-fleft fa-2x"></i> Couche éditable.</p>
  <p class="date"><i class="fa fa-refresh fa-fleft fa-2x"></i> Dernière mise à jour du cache : <span></span>.</p>
  <p class="histo"><i class="fa fa-history fa-fleft fa-2x"></i> Couche historisée (REC#<span></span>).</p>
</div>