<div>
  <p class="online">
    <i class="fa fa-ban fa-2x fa-fleft"></i>
    Votre compte ne vous permet pas de charger des cartes hors-ligne....
  </p>
  <p class="offline">
    Vous pouvez charger des cartes afin de pouvoir les afficher si vous n'avez pas de réseau.
  </p>
  <p class="offline">
    <i class="fa fa-exclamation-triangle"></i>
    Attention le chargement de dalles en mode hors-ligne va prendre de la place dans la mémoire de votre appareil.
  </p>
  <button class="button offline" onclick="wapp.dialog.close(); wapp.showPage('maintenance')">
    <i class="fa fa-info-circle fa-fw"></i>
    Gérer la taille du cache.
  </button>
</div>