<div>
  <span data-attr="length"></span> dalles chargées<br/>
  le <span data-attr="date"></span><br/>
  <button id="reload-error-tiles" class="button">Recharger</button>
  <span data-attr="error" class="danger"></span><br/>
  
  <ul>
    <li>
      Couche : <span data-attr="name"></span>
    </li>
    <li>
      Zoom : <span data-attr="minZoom"></span>-<span data-attr="maxZoom"></span>
    </li>
    <li>
      Zones : <span data-attr="extentNamesList"></span>
    </li>
  </ul>
  <div class="buttons" style="text-align:center;">
    <button class="centermap button" style="margin-top: .5em;">
      <i class="fa tools-locate"></i> Centrer sur la carte
    </button>
  </div>

</div>