<div class="noconnect">
  <p>
    Merci de vous connecter afin de faire un signalement.
    <br/>
    <i>
      Vous devez au préalable vous être inscrit sur
      <a href="https://espacecollaboratif.ign.fr/register/" target="_system">
        l'Espace Collaboratif</a>
      pour pouvoir effectuer une contribution.
    </i>
  </p>
  <button class="button big-button" onclick="wapp.connect();">Connexion</button>

</div>

<div class="connect profil">
  <span class="title"></span><img />
</div>

<div class="connect info">
  <div class="buttons" style=" text-align: center;">
    <button class="button big-button sselect" onclick="wapp.ripart.showFormulaire();">
      <i class="fa tools-copypoly fa-fw"></i> Signaler cet objet
    </button>
    <br/>
    <button class="button big-button" 
      onclick="wapp.ripart.showFormulaire(false);">
      <i class="fa fa-map-marker fa-fw"></i> Faire un signalement
    </button>
    <br/>
    <button class="button big-button expert" 
      onclick="wapp.ripart.showFormulaire('gps');">
      <i class="fa fa-location-arrow fa-fw"></i> Signalement via GPS
    </button>
  </div>
  <div class="warning_public">
    <i>Nota bene</i> : Pensez que lorsque vous faites un signalement celui-ci est public et 
    peut être vu par d'autres utilisateurs. 
    Veillez donc à la qualité des échanges et gardez à l’esprit que vous restez
    responsable de vos propos.
  </div>
</div>

<div class="connect formulaire">
  <ul class="default">
    <li class="position">
      <label>Position :</label> 
      <button class="movePosition button">
        <i class="fa fa-map-marker"></i>&nbsp; déplacer...
      </button>
      <p>
        <input type="text" class="lon" /> , <input type="text" class="lat" />
      </p>
    </li>

    <li data-input="select" data-param="theme">
      <label>Thème</label>
    </li>

    <li class="attributes" data-input="custom">
      <label>Attributs</label>
      <div data-input-role="info"></div>
    </li>

    <li>
      Commentaire :
      <textarea class="comment"></textarea>
    </li>
    
<!--
    <li class="addfeatures" style="text-align:right;" >
      <button class="button">
        <i class="fa tools-copypoly"></i>&nbsp;
        ajouter un objet...
      </button>
    </li>
-->
    <li class="addCroquis" style="text-align:right;" >
      <button class="button">
        <i class="fa fa-pencil"></i>&nbsp;
        ajouter un croquis...
      </button>
    </li>
    <li class="croquis" style="text-align:right; padding-bottom:.5em;" >
      Objet(s) joint(s) : <span class="nb">0</span>
    </li>
    <li class="photo">
      <img onclick="wapp.ripart.photo();" />
      <span class="fa-stack fa-lg" style="background:#ddd; border-radius:50%;" onclick="wapp.ripart.photo();">
        <i class="fa fa-camera fa-stack-1x"></i>
      </span>
    </li>
  </ul>
  <div class="buttons">
    <div data-role="dialogBt" class="cancel" >Annuler</div>
    <div data-role="dialogBt" class="save" >Enregistrer</div>
    <div data-role="dialogBt" class="gps" >Commencer</div>
  </div>
  <br/>
</div>