<div class='multi'>
  <button class='prev' style="float:left">&#x2770</button>
  <span></span>
  <button class='next' style="float:right">&#x2771</button>
</div>
<h3>Signalement : <button class="button georem-clone" onclick="wapp.cloneGeorem()">
  <i class="fa fa-clone"></i>
   Cloner
</h3>
<ul>
  <li>
    <label>
      Identifiant :
    </label><span data-attr="id" data-prefix="#"></span>
  </li>
  <li>
    <label>
      Statut :
    </label><span data-code="status"></span>
  </li>
  <li>
    <label>
      Position :
    </label><span>
      <span data-attr="geometry"></span>
    </span>
  </li>
  <li>
    <label>
      Date :
    </label><span data-attr="pretty_opening_date" ></span>
  </li>
  <li>
    <label>
      Auteur :
    </label><span data-attr="author_name" ></span>
  </li>
  <li>
    <label>
      Thèmes :
    </label><span>
      <span data-attr="attributes" data-array="1" data-sep=", ">
        <span>%theme% (%community_name%)</span>
      </span>
      <span data-attr="theme">
      </span>
    </span>
  </li>
  <li>
    <label>
      Attributs :
    </label><span data-attr="attText" data-list="1"></span>
  </li>
  <li>
    <label>
      Commune :
    </label><span data-attr="commune_name"></span>
  </li>
  <li>
    <label>
      Département :
    </label><span data-attr="id_dep"></span>
  </li>
  <li>
    <label>
      Commentaire :
    </label><span data-attr="comment"></span>
  </li>
  <li data-class="nb">
    <label>
      Croquis
      <i class="fa tools-copypoly"></i> :
    </label><span>
      <span data-attr="nb"></span>
      objet<span data-class="nb">s</span> attaché<span data-class="nb">s</span>
    </span>
  </li>
  <li>
    <img class="photo" data-src="photo" style="max-width:100%;" />
  </li>
</ul>
<div class="buttons" >
  <div data-role="dialogBt" class="del" onclick="wapp.delGeorem(true);">Supprimer</div>
  <div data-attr="id" data-null="1" data-role="dialogBt" class="send" onclick="wapp.postGeorem();">Envoyer</div>
  <div data-attr="id" data-null="1" data-role="dialogBt" class="modify" onclick="wapp.modifyGeorem();">Modifier</div>
</div>
<div class="responses" data-attr="replies" data-nnull="1">
  <h3>Réponses :</h3>
  <ul class="localRep">
    <li data-role="template">
      <p class="date statut"></p>
      <p class="comment"></p>
      <div class="buttons">
        <div class="sendrep" data-role="dialogBt">Envoyer</div>
        <div class="delrep" data-role="dialogBt">Supprimer</div>
      </div>
    </li>
  </ul>
  <button class="response"><i class="fa fa-reply"></i> Répondre à ce signalement...</button>
  <ul data-attr="replies" data-array="1">
    <li>
      <p class="date">
        <i class="fa fa-comment"></i>
        %date%
      </p>
      <p>
        <label>Auteur :</label><span>%author_name%</span>
      </p>
      <p class="%status%">
        <label>Statut :</label><span>%status%</span>
      </p>
      <p>
        <label>Commentaire :</label>
        %title% 
        %content%
      </p>
    </li>
  </ul>
</div>
