<div data-mode="offline">
  
  <div class="once">
    <i class="fa fa-check"></i> Mode hors-ligne activé.
    <br/>
    Les données sont automatiquement chargées lorsqu'il y a du réseau (une fois par jour).
  </div>

  <div class="cartes" >
    <ul class="cartes" data-role="list">
      <li data-role="template">
        <i class="fa fa-map-o"></i>
        <input type="text" class="nom" placeholder="Nom de la carte" /><i class="clear-input"></i>
        <div class="nb"></div>
        <div class="menu">
          <i class="fa fa-map-o button"></i>
          <i class="fa tools-locate button"></i>
          <br />
          <i class="fa fa-refresh button"></i>
          <i class="fa fa-trash button"></i>
        </div>
        <div class="info">
          <span class="layer"></span>
          Chargé le <span class="date">-</span>
        </div>
      </li>
    </ul>
    <div class="buttons">
      <button class="button big-button addmap" style="float:right;">
        Ajouter une carte...
      </button>
    </div>
  </div>

</div>

<div data-mode='online'>
  <i class="fa fa-times"></i>
  <i>Pas de mode hors-ligne disponible pour ce guichet.</i>
</div>