<div class='multi'>
  <button class='prev' style="float:left">&#x2770</button>
  <span></span>
  <button class='next' style="float:right">&#x2771</button>
</div>
<i class="edit fa fa-pencil" onclick="wapp.editFeature();"></i>
<img class="guichet" src="">
<h3></h3>
<div class="themes"></div>
<ul></ul>
<!--
<button class="button" onclick="wapp.validFiche()">Modifier</button>
-->
<div class="buttons trace" style="text-align: center;">
  <button class="button big-button" onclick="wapp.saveGPS();">
    <i class="fa fa-download fa-2x" style="float:left;"></i> &nbsp;
    Enregistrer la trace <br/> au format GPX...
  </button>
</div>