<div data-role="header" data-back-button="true">Signalement</div>

<div data-role="content">
	
	<div data-attr="date" style="float:right"></div>
	<h2>Signalement <span data-attr="id" data-prefix="#"></span></h2>

	<div>
		<span data-attr="commune_name"></span>
		<span data-attr="id_dep" data-prefix="(" data-suffix=")"></span>
	</div>

	<div data-attr="comment" data-br="1"></div>

	<h3>Réponses :</h3>
	<ul data-role="list" data-attr="rep" 
		data-array="&lt;li class='%status%' &gt; &lt;span&gt; %date% &lt;/span&gt; %title% : %content%  &lt;/li&gt;">
		<li class='%status%'><span>%date%</span> %title% : %content%  </li>
	</ul>

	<div style="text-align:center;">
		<img class="photo" data-src="photo" />
	</div>

	<div style="width:100%; margin-top:0.5em;">
		<div data-role="dialogBt" onclick="wapp.showPage('signalements');">Annuler</div>
		<div data-role="dialogBt" class="del" onclick="wapp.report.delCurrentRem();">Supprimer</div>
		<div data-role="dialogBt" class="send" onclick="wapp.report.postCurrentRem();">Envoyer</div>
	</div>
</div>
