/**Recherche
*/
#search > div[data-role='header']
{	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
#search .fa-search
{	position:absolute;
	color:#aaa;
}
#search .ol-search input,
#search .ol-locate input
{	font-size:1.2em;
  padding: 0.3em 0 0.3em 1.2em;
  border-style: solid;
  border-color: #ccc;
  border-width: 0 0 3px;
  height: auto;
}
#search i.wapp-search
{	font-size:1.2em;
	padding: 0.3em 0;
	z-index:1;
}
#search .autocomplete {
  cursor: pointer;
  margin: 0 -0.5em;
  padding: 0;
}
#search .autocomplete li {
    background-image: linear-gradient(#fff, #eee);
    border-color: #ccc;
    border-style: solid;
    border-width: 1px 0;
    padding: 0.5em;
    width: 100%;
    color: #666;
}
#search .ol-loading .autocomplete li
{	color: #f90;
}
#search li.copy {
  display: none;
}

@media screen and (max-height:800px) {
	#search [data-role="onglet-li"] {
	  padding: 0 .5em .5em;
  }
  #search .ol-search.IGNF-parcelle > div * {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0;
  }
}

#search.noOnglet [data-role="onglet-bt"] [data-list="data"] {
  display: none;
}
#search.noOnglet [data-role="onglet-li"] {
  /* top: 0; */
}

#search ul {
  max-width: initial;
}

@media screen and (orientation:landscape) and (min-width:1024px) {
  #search{
    width: 50%;
  }
}
@media screen and (orientation:portrait) and (min-height:1024px) {
  #search{
    height: 65%;
    top: 35%;
  }
}

#search .IGNF-parcelle > label{
  display: none;
}
#search .IGNF-parcelle div input {
  width: calc(33% - .2em);
  padding: .2em;
  border-width: 3px;
  font-size: .9em;
  color: #666;
  margin-bottom: .5em;
}
#search .IGNF-parcelle label{
  width: calc(33% - .2em);
  padding: 0 .5em;
}
@media screen and (max-width:400px) {
	#search .IGNF-parcelle label {
	  padding: 0;
    text-align	: center
  }
}
#search .IGNF-parcelle input.search {
  width: 100%;
}
#search .IGNF-parcelle ul.autocomplete-parcelle li {
  padding: 0 .5em;
}
#search .IGNF-parcelle ul.autocomplete-page li {
  width: 1.4em;
  height: 1.4em;
  padding: 0;
}

/* on cache la geolocalisation qui vient avec le control de recherche par coordonnees */
#search .search_coordinates button.ol-geoloc {
  display: none;
}