<div data-role="header" data-back-button="true">Paramètres</div>
<div data-role="content">
  <ul>
    <li class="title">
      Affichage
    </li>
    <li data-input="check" data-param="rotmap">
      <label>Rotation de la carte </label>
      <div data-input-role="info">Autoriser la rotation de la carte.</div>
    </li>
    <li data-input="check" data-param="zoombt" data-default=false>
      <label>Boutons de zoom </label>
      <div data-input-role="info">Afficher les boutons de zoom sur la carte.</div>
    </li>
    <li data-input="check" data-param="searchbt" data-default=true>
      <label>Boutons de recherche</label>
      <div data-input-role="info">Afficher un bouton pour rechercher une adresse sur la carte.</div>
    </li>
<!--
    <li data-input="text" data-param="toto">
      <input type="text"/><i class="clear-input"></i>
      <div data-input-role="info">Entrez un nom.</div>
    </li>
-->
    <li class="title">
      Signalement
    </li>
    <li data-input="custom" class="connect" onclick="wapp.connect();">
      <label class="">Identifiant de connexion </label>
      <div data-input-role="info"><span class="deconnected">Vous n'êtes pas connecté.</span><span class="connected"></span></div>
    </li>
    <li data-input="check" data-param="igntheme" data-default=false>
      <label>Thématique étendue</label>
      <div data-input-role="info">Afficher les thèmes IGN dans les signalements.</div>
    </li>

  
    <li class="title">
      Divers
    </li>

    <li data-input="button" onclick="wapp.help.reset(); wapp.hidePage(); wapp.help.show('main')">
      <label>Réinitialiser l'aide en ligne</label>
      <div data-input-role="info">L'aide en ligne ne s'affiche qu'une seule fois. 
      Vous pouvez la réactiver pour un nouveau parcours guidé.</div>
    </li>

    <li class="title">
      Paramètres avancés
    </li>

    <li data-input="button" onclick="wapp.showPage('maintenance')">
      <label>Maintenance</label>
      <div data-input-role="info">Afficher le status de l'application et le contenu téléchargé.</div>
    </li>

    <li data-input="check" data-param="extended" data-default=false>
      <label>Mode avancé</label>
      <div data-input-role="info">Afficher plus de fonctionnalités.</div>
    </li>

    <li class="extended" data-input="check" data-param="nocache" data-default=false>
      <label>No cache</label>
      <div data-input-role="info">Ne pas gérer de cache vecteur (au prochain redémarrage).</div>
    </li>

    <li class="title">
      GPS
    </li>

    <li class="ios android" data-input="button" onclick="wapp.selectGPS()">
      <label>Source GPS</label>
      <div data-input-role="info">Choisir un GPS externe (bluetooth).</div>
    </li>
    <li data-input="text" data-param="minGPSAccuracy" data-default=100>
      <label style="display: block; width: Calc(100% + 1em);">
        Précison GPS (m)&nbsp;: 
        <input type="number" min="0" style="width:4em; padding-left:0.5em;"/>
        <i class="clear-input"></i>
      </label>
      <div data-input-role="info">
        Marge d'erreur au-dessus de laquelle les points GPS ne seront 
        pas enregistrés dans la trace (en&nbsp;m).
      </div>
    </li>
    <li data-input="text" data-param="toleranceGPS" data-default=5>
      <label style="display: block; width: Calc(100% + 1em);">
        Distance GPS (m)&nbsp;: 
        <input type="number" min="0" style="width:4em; padding-left:0.5em;"/>
        <i class="clear-input"></i>
      </label>
      <div data-input-role="info">
        Distance minimal entre deux points GPS sur la trace (en&nbsp;m).
      </div>
    </li>
    
    <li class="title debug">
      DEBUG
    </li>

    <li data-input="select" data-param="qlf" class="debug">
      <label>Serveur utilisé dans l'application</label>
      <div data-input-role="option" data-val="" data-default="true">Espace Co</div>
      <div data-input-role="option" data-val="https://qlf-collaboratif.ign.fr/collaboratif-develop/api/">Collaboratif-develop</div>
      <div data-input-role="option" data-val="https://qlf-collaboratif.ign.fr/collaboratif-2.3/api/">Collaboratif-2.3</div>
      <div data-input-role="option" data-val="https://qlf-collaboratif.ign.fr/collaboratif-2.4/api/">Collaboratif-2.4</div>
    </li>
  </ul>
</div>