<div data-role="header" data-back-button="true">Mode Hors Ligne</div>
<div data-role="content">
    <h3>Mes zones:</h3>
    <button id="add-cache-extent-btn" class="button big-button">
        <i class="fa tools-drawpoly"></i> Nouvelle zone
    </button>
    <div id="cache-extents-list">        
    </div>

    <h3>
        Guichet hors ligne: 
        <div class="cache-tools">
            <i class="fa fa-cloud-download add-area"></i>
            <i id="refresh-all-btn" class="fa fa-refresh"></i>
        </div>
    </h3>
    <div class="areas">
        <span><b>Zone: </b></span><span id="vector-cache-area"></span><span><button id="select-area-btn">Sélectionner...</button></span>
    </div>
    <b>Couches: </b>
    <div class="layerlist">

    </div>
    
    <button id="remove-cache-layer-btn" class="button big-button">
        <i class="fa fa-trash"></i> Supprimer
    </button>
    <button id="add-cache-layer-btn" class="button big-button">
        <i class="fa tools-layerstack"></i> Ajouter des couches
    </button>
    <button id="load-cache-layer-btn" class="button big-button">
        <i class="fa fa-cloud-download"></i> Charger
    </button>
    
    <h3>Fonds hors ligne:</h3>
    <div id="cache-layers-fond">
        <button id="add-cache-ign-layer-btn" class="button big-button">
            <i class="fa tools-layerstack"></i> Ajouter un fond
        </button>
        <div class="layerswitcher">
        </div>
    </div>
</div>