<div data-role="header" data-back-button="true">Signalements</div>

<div data-role="content">

  <h3 class="nogeorem">Aucun signalement en cours...</h3>
  
  <div class="buttons">
    <button class="button big-button georemsCount" onclick="wapp.ripart.postAllLocalRems();">
      <i class="fa fa-paper-plane"></i>
      Envoyer (<span></span>)
    </button><button class="button big-button georepsCount" onclick="wapp.ripart.updateLocalRems();">
      <i class="fa fa-refresh"></i>
      Actualiser (<span></span>)
    </button><button class="button big-button" onclick="wapp.ripart.delLocalRems();">
      <i class="fa fa-trash"></i>
      Suppr.
    </button><button class="button big-button" onclick="wapp.showLegend();">
      <i class="fa fa-info-circle"></i>
      Info
    </button>
  </div>

  <!-- Liste des signalements -->
  <ul data-role="list">
    <li data-role="template">
      <i class="photo fa fa-camera" data-attr="photo" data-nnull="1"></i>
      <div data-attr="date" style="float:right"></div>
      <div class="info">
        <span data-attr="id" data-prefix="#"></span>
        <span data-attr="commune" data-prefix=" - "></span>
        <span data-attr="id_dep" data-prefix="(" data-suffix=")"></span>
      </div>
      <div data-attr="comment"></div>
      <div class="small" data-attr="themes" data-array="1" data-sep=", ">
        <span>%nom% (%groupe%)</span>
      </div>
      <div class="small" data-attr="theme"></div>
      <div class="danger" data-attr="error"></div>
      <div><span data-attr="rep" data-array-length="1"></span> réponse(s)</div>
      <div data-attr="responses" data-nnull="1">
        <i class="fa fa-envelope-o"></i>
        <span data-attr="responses" data-array-length="1"></span>
        réponse(s) en attente...
      </div>
    </li>
  </ul>

  <!-- Operation tourisme 2017 -->
  <div class="operation" style="margin:0.5em 0; border: 3px solid #f0f; padding: 0.5em; background:rgba(255,0,255,0.1)"
    data-date="2017-01-01" data-name="ope2017" data-class="magenta" data-icon="star-o" data-frequence="0.15" >
    <i class="fa fa-star-o" style="float:left; font-size:2.5em; color:#f0f; opacity:0.5; margin-right:0.2em; "></i>
    <div class='title' style="font-size:1.2em;">
      Illustrez la carte IGN 
    </div>
    <div class='msg' style="padding: 0.5em;">
      Contribuez à valoriser votre région en recensant les points touristiques autour de vous 
      – photographiez les sites remarquables des cartes IGN, identifiez de nouveaux lieux. 
      <br />
      <a href='https://mesapplications.ign.fr/espacecollaboratif' target='_system'>
        En savoir plus...
        <i class="fa fa-external-link"></i> 
      </a>
    </div>
    <div style="background:#fff;margin:0.5em 0.25em; padding: 0.1em 0.5em;">
      <p style="font-style:italic; text-align:center; font-size: 1.1em;">
        Illustrez la carte IGN !
      </p><p>
        Nous vous invitons à prendre en photo les sites remarquables de votre région, qu’ils soient (ou pas) 
        signalés sur les cartes IGN au 1:25&nbsp;000. 
        Vous pouvez également compléter les informations disponibles (nom, description…).
      </p><p>
        <i class="fa fa-map-marker fa-rotate-90" title="Signaler..." style="float: left;background: orange;padding: 0.4em 0.3em 0.2em 0.3em;color: #fff;border-radius: 50%;margin-right: 0.5em; font-size: 1.2em;"></i>
        Signalez-nous les éléments touristique du paysage : Moulins, Passerelles-Gué, Eglise remarquable,
        Château, Monument, Point de vue, Table d’orientation ou Curiosité diverse.
        <ol style="list-style:none; margin:0; padding:0;">
          <li style="padding:0 0.5em 0 2.5em;">
            Choissisez le thème <i>Photo – sites remarquables</i>.
          </li>
          <li style="padding:0 0.5em 0 2.5em;">
            Renseignez la nature (moulin, passerelle, église, château…) de l’objet et son nom
          </li>
          <li style="padding:0 0.5em 0 2.5em;">
            Prenez une photo
          </li>
          <li style="padding:0 0.5em 0 2.5em;">
            Envoyez votre contribution
          </li>
        </ol>
      </p>
    </div>
  </div>
</div>