<div data-role="header" data-back-button="true">
  Légende
</div>

<div data-role="content">
  <h2>Dans la liste</h2>
  <ul>
    <li>
      <div class="symb">
        &#x276f;
      </div>
      Signalement enregistré : le signalement est enregistré, mais vous ne l'avez pas encore envoyé au serveur.
      Vous pouvez encore le modifier et l'envoyer lorsque vous aurez du réseau.
    </li>
    <li>
      <div class="symb">
        <i class="fa fa-envelope-o"></i>
      </div>
      Signalement envoyé au serveur, il n'est plus modifiable.
    </li>
    <li>
      <div class="symb">
        <i class="fa fa-clock-o" style="color:orange;"></i>
      </div>
      Signalement en cours de traitement ou en attente de saisie dans nos services.
    </li>
    <li>
      <div class="symb">
        <i class="fa fa-check" style="color:green;"></i>
      </div>
      Signalement pris en compte, votre signalement a été intégré dans la base. 
      Regardez la réponse qui y a été apporté.
    </li>
    <li>
      <div class="symb">
        <i class="fa fa-times" style="color:red;"></i>
      </div>
      Signalement rejeté par nos services.
      Vous pouvez renvoyer un nouveau signalement en précisant votre demande.
    </li>
  </ul>
  <h2>Sur la carte</h2>
  <ul>
    <li>
      <div class="symb">
        <i class="marker" style="background-color:#666; border-color:#666;"></i>
      </div>
      Signalement enregistré (pas encore envoyé au serveur).
    </li>
    <li>
      <div class="symb">
        <i class="marker" style="background-color:#369; border-color:#369;"></i>
      </div>
      Signalement envoyé au serveur.
    </li>
    <li>
      <div class="symb">
        <i class="marker" style="background-color:orange; border-color:orange;"></i>
      </div>
      Signalement en cours de traitement ou en attente de saisie dans nos services.
    </li>
    <li>
      <div class="symb">
        <i class="marker" style="background-color:green; border-color:green;"></i>
      </div>
      Signalement pris en compte.
    </li>
    <li>
      <div class="symb">
        <i class="marker" style="background-color:red; border-color:red;"></i>
      </div>
      Signalement rejeté par nos services.
    </li>
  </ul>
</div>