#layer-guichet .guichet > * {
  float: right;
  clear: both;
}
#layer-guichet .layerswitcher {
  clear: both;
}
#layer-guichet .guichet > h3,
#layer-guichet .guichet > i {
  float: none;
  vertical-align: middle;
}
#layer-guichet .guichet img {
  display: inline-block;
  vertical-align: middle;
  max-width: 5em;
  max-height: 3em;
  margin-left: .5em;
}
#layer-guichet .guichet h3 {
  display: inline-block;
}
#layer-guichet .guichet .button {
  margin: .5em .3em;
}

#layer-guichet .layerswitcher .ol-layer-group > .ol-layerswitcher-buttons,
#layer-guichet .layerswitcher .ol-layer-group {
  display: none;
}
#layer-guichet .layerswitcher .ol-layer-group.visible {
  display: block;
}

#layer-guichet .layerswitcher .ol-layer-group > .li-content label {
  padding: 0;
}
#layer-guichet .layerswitcher .ol-layer-group > .li-content label::before,
#layer-guichet .layerswitcher .ol-layer-group > .li-content label::after {
  content: none;
}

/* No guichets */
[data-guichet="none"] #layer-guichet .guichet {
  display: none;
}
#layer-guichet .noguichet {
  display: none;
}
[data-guichet="none"] #layer-guichet .noguichet {
  display: block;
  text-align: right;
}

.ol-layerswitcher .icn-bar .fa-cloud-download.fa-plus:after {
  content: '\f055';
  position: absolute;
  right: .1em;
  top: -.2em;
  border-radius: 50%;
  background: #fff;
  font-family: 'FontAwesome';
  font-size: .8em;
  border: 1px solid #fff;
  box-sizing: border-box;
}

/* Dialogue */
[data-role="dialog"].dialog-infocouche img {
  float: right;
  max-height: 3em;
  max-width: 4em;
  margin-top: -.6em;
}
[data-role="dialog"].dialog-infocouche h2 {
  width: calc(100% - 3em);
  overflow: hidden;
}
[data-role="dialog"].dialog-infocouche .edit .fa {
  margin-top: -.25em;
}
[data-role="dialog"].dialog-infocouche .readonly .edit {
  display: none;
}
[data-role="dialog"].dialog-infocouche .edit .noedit {
  display: none;
}

/* Dialog de cache */
[data-role="dialog"].guichet .switcher {
  float: right;
}
[data-role="dialog"].guichet .switcher span,
.all-layer-vibility-btn {
  color: #369;
}

[data-role="dialog"].guichet ul.layerselect {
  border: 3px solid #ccc;
  border-width: 1px 0 3px;
  padding: 0;
}
[data-role="dialog"].guichet input[type=text] {
  margin: .3em 0 0;
}
[data-role="dialog"].guichet ul.layerselect li {
  position: relative;
  padding: .2em 1.5em .2em 0;
}
[data-role="dialog"].guichet ul.layerselect li.selected:before {
  content: "\f00c";
  font-family: Fontawesome;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
