<div data-role="header">Conflits</div>

<div class="content" data-role="content">
  <div class="theme" data-role="dialogBt">Thème...</div>
  <ul></ul>
  <div data-role="dialogBt" onclick="wapp.hidePage()">annuler</div>
  <div class="valid" data-role="dialogBt">Valider</div>
</div>

<div class="object">
  <h1>Conflits</h1>
  <i class="fa fa-eye"></i>
  <ul></ul>
  <buttons>
    <div class="cancel" data-role="dialogBt">annuler</div>
    <div class="suppr" data-role="dialogBt">Suppr.</div>
    <div class="force" data-role="dialogBt">Forcer</div>
    <div class="signal" data-role="dialogBt">Signaler</div>
  </buttons>
</div>