<div data-role="header" data-back-button="true"> Géoservices</div>
<div data-role="content">
  <h3><i class="fa fa-eye"></i> Géoservices</h3>
  <div class="couches confirme offline-element ">
    <div class="couche offline">      
      <h2> <!--show page offline-->
        <i class="fa fa-eye"></i>
        <span onclick="wapp.showPage('offline');" class="name"> Cartes Hors Ligne </span>
      </h2>
      <div class="icn-bar">      
        </i><i class="fa fa-info-circle" onclick="wapp.dialog.show(' ', {title: 'Mode hors-ligne', buttons: { ok:'ok' }});">
        </i>
      </div>
    </div>
  </div>

  <div class="layerswitcher"></div>
</div>