<div data-role="header"><i class="backArrowBt" onclick="wapp.showPage('layer-guichet');"></i>Mes guichets</div>
<div data-role="content">
  <div class="nomap">
    <label>Désolé, vous n'avez pas de carte sur votre compte...</label>
    <div>
      <i class="fa fa-info-circle fa-2x fa-va" style="vertical-align: middle;"></i> Vous devez être inscrit à un guichet pour accéder à ses cartes...
    </div>
  </div>
  <h2 class="hasmap">Liste des guichets</h2>
  <ul class="hasmap">
    <li data-role="template">
      <div class="li-content">
        <img />
        <p class='title'></p>
        <p class='layers'></p>
      </div>
      <div class='icn-bar'>
        <i class="fa fa-pencil"></i>
        <i class="fa fa-cloud-download"></i>
        <i class="fa fa-info-circle"></i>
      </div>
    </li>
  </ul>
</div>