<div data-role="header" data-back-button="true">Mon Guichet</div>
<div data-role="content">
  <div class="guichet">
    <i class="fa fa-eye fa-2x"></i>
    <h3 data-attr="name"></h3>
    <img data-src="img" />
    <br style="clear:both;" />
    <button id='changeGuichet' class="button big-button" onclick="wapp.showPage('guichets')">
      <i class="fa fa-id-card-o"></i>
      Changer de guichet...
    </button>
    <div id="all-layer-visibility" class="expert"><span class="all-layer-vibility-btn hide">tout</span> / <span class="all-layer-vibility-btn show">rien</span> masquer</div>
    <br/>
    
  </div>
  <div class="noguichet">
    <button class="button big-button" onclick="wapp.showPage('guichets')">
      <i class="fa fa-id-card-o"></i>
      Choisir un guichet...
    </button>
  </div>

  <div class="layerswitcher"></div>
</div>