<div data-role="header" data-back-button="true"><span class="fromRipart" onclick="wapp.showPage('signalements')">&#x2770;</span>Fiche</div>
<div data-role="onglet">
  <div class="trackingInfo">
    <i class="backArrowBt"></i> retour à la fiche
    <i class="fa fa-map-marker"></i>
  </div>
  <div data-role="onglet-bt">
    <div data-list="info">
      <i class="fa fa-id-card"></i>Fiche
    </div>
    <div data-list="signal">
      <i class="fa fa-map-marker"></i>Signaler
    </div>
    <div data-role="button" class="confirme" onclick="wapp.goto();">
      <i class="fa fa-car"></i>Y aller
    </div>
    <!-- Remove selection -->
    <i class="fa fa-close" onclick="wapp.hidePage(); wapp.select.getFeatures().clear(); wapp.onSelect();"></i>
    <!-- Close from Ripart -->
    <i class="fa fa-close fromRipart" style="font-size:1.5em; padding:0.75em 0.5em; float:right; cursor:pointer" onclick="wapp.showPage('signalements')"></i>
    <div data-role="action-bt">
      <i class="fa fa-check" style="color: #090"></i>
    </div>
  </div>

  <!-- Fiche -->
  <div class="selection" data-role="onglet-li" data-list="info">
    <i>Pas de sélection...</i>
    <div class="georem" data-template="onglet-georem"></div>
    <div class="fiche" data-template="onglet-fiche"></div>
  </div>

  <!-- Signaler -->
  <div class="signaler" data-role="onglet-li" data-list="signal" data-template="onglet-signaler"></div>

</div>