/** Fiche */
#fiche .selection > i {
  display: block;
}
#fiche .selection.georem > i,
#fiche .selection.fiche > i {
  display: none;
}
#fiche .selection > div {
  display: none;
}
#fiche .selection.georem > div.georem {
  display: block;
}
#fiche .selection.fiche > div.fiche {
  display: block;
}

#fiche .selection > div ul {
  margin: 0;
  padding: 0;
  list-style: none;
  clear: both;
	border-top: 1px solid #ccc;
}
#fiche .selection.fiche > div.edition ul {
  bottom: 2.5em;
}
#fiche .selection.multi > div ul {
  top: 4em;
}
#fiche .selection.multi.themes > div ul {
  top: 5em;
}
#fiche .selection.themes > div ul {
  top: 3.4em;
}
#fiche .selection > div ul li {
  position: relative;
  background-color: #fff;
	border: 0;
  border-bottom: 1px solid #ccc;
  padding: 0 .5em;
}
#fiche .selection > div ul li.updated {
  background-color: rgba(0,0,255,.1);
}

#fiche .selection > div ul li.buttons {
  min-height: 3em;
  background: none;
  border-bottom: 0;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: .5em;
}

#fiche .selection > div ul li .fa {
  position: absolute;
  right: .5em;
  top: 50%;
  transform: translateY(-50%);
}
#fiche .selection > div ul li .fa.checkbox {
  width: 1.2em;
  height: 1.2em;
  border: .1em solid currentColor;
  background-color: #ccc;
}
#fiche .selection > div ul li .fa.checkbox.check:before {
  content: "";
  width: 1em;
  height: .5em;
  transform: rotate(-45deg);
  border: .1em solid currentColor;
  border-width: 0 0 .2em .2em;
  position: absolute;
  top: -.06em;
  left: .15em;
}

/* affichage de la liste des champs de l objet sans le formulaire */
#fiche .selection > div .read-only label {
  display: inline-block;
	width:30%;
	overflow: hidden;
  color: #369;
  vertical-align: middle;
  font-size: 0.9em;
  vertical-align: middle;
}
#fiche .fiche .read-only label:after {
  content: "\A0:";
}

#fiche .selection > div li > span {
  width: 70%;
	display: inline-block;
	vertical-align: middle;
} 
#fiche .selection > div li > span[data-attr="comment"] {
  white-space: pre-line;
}

#fiche [data-role="onglet-bt"] {
  background-color: #e0e0e0;
}
#fiche [data-role="onglet-bt"] > .fa {
  font-size:1.5em; 
  padding:0.75em 0.5em; 
  float:right; 
  cursor:pointer
}
#fiche .georem-clone {
  padding: 0.4em 1em 0.2em;
  float:right;
  font-size:0.8em;
}
#fiche [data-role="onglet-bt"] > .fa-check {
  color: #090;
}
#fiche > div {
  background-color:#eee;
}

#fiche i.fromReport {
  display: none;
}
#fiche span.fromReport {
  display: none;
	font-style: normal;
	font-size: 1.7em;
	height: 1em;
	line-height: 0.7em;
	vertical-align: middle;
	margin: 0 0.3em 0 0;
	cursor: pointer;
}
#fiche.fromReport i.fa-close,
#fiche.fromReport i.backArrowBt {
  display:none;
}
#fiche.fromReport i.fromReport,
#fiche.fromReport .fromReport {
  display: initial
}

#fiche .trace {
  display: none;
}
#fiche .trace .trace {
  display: block;
}

#fiche .selection .multi {
  display: none;
  background: #ddd;
  margin: -.5em -.5em .5em;
  line-height: 1.6em;
  text-align: center;
}
#fiche .selection .multi button {
  display: inline-block;
  background: #369;
  border: 0;
  font-size: 1.5em;
  color: #fff;
  line-height: 1em;
  width: 1em;
  text-align: center;
}
#fiche .selection.multi .multi {
  display: block;
}

#fiche .edit {
  font-size: 1.5em;
  float: right;
  margin: -.1em .5em 0 0;
  cursor: pointer;
  display: block;
}

#fiche .fiche input.editDate {
  position: absolute;
  width: 0;
  height: 100%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
  border: 0;
  opacity: .1;
  padding: 0 1em;
  font-size: 1em;
}

#fiche .warning_public {
  text-align: center;
	border: 5px solid #ccc;
  padding: 0.5em;
  margin: 1em;
	font-size: 0.8em;
	line-height: 1.5em;
}

#fiche .fiche .themes {
  background: transparent;
  margin: -.5em -.5em 0;
  white-space: nowrap;
  width: calc(100% + 1em);
  overflow-x: auto;
  padding: 0 0 0 .25em;
}
#fiche .fiche .themes > div.hidden {
  display: none;
}
#fiche .fiche .themes > div {
  display: inline-block;
  padding: 0 .25em;
  background: #e0e0e0;
  margin: 4px 4px 0 0;
}
#fiche .fiche .themes .selected {
  background: #369;
  color: #fff;
}

#fiche .fiche li span {
  overflow: hidden;
}

#fiche h3 {
  margin: 0 0 .5em 0;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

#fiche .fiche img.guichet {
  float: right;
  max-height: 3.5em;
  margin: -.8em 0 .2em;
}

#fiche .fiche ul tr:nth-child(odd) {
  background: #f5f5f5;
}

@media screen and (orientation:landscape) and (min-width:1024px), 
screen and (max-width:640px) {
  #fiche .selection > div label,
  #fiche .selection > div li > span,
  #fiche .selection > div input,
  #fiche .selection > div [data-input-role].selected {
    width:100%;
  }
}

@media screen and (orientation:landscape) and (max-width:1030px), 
screen and (max-width:600px) {
  #fiche {
    font-size: 1.3em;
  }
}

/* Deplacement du signalement sur Smartphone */
#fiche .trackingInfo {
  display: none;
	line-height: 2em;
	padding: 0 0.5em;
	font-size: 1.5em;
	cursor: pointer;
}
#fiche .trackingInfo .fa {
	float: right;
	line-height: 1.5em;
	font-size: 1.5em;
}

@media screen and (orientation:landscape) and (max-width:1023px), 
screen and (orientation:portrait) and (max-height:1023px) {	

	body.fullscreenMap #fiche.visible
	{	-webkit-transform: translate3d(0, 100%, 0)!important;
		transform: translate3d(0, 100%, 0)!important;
		margin-top: -3em;
		font-size: 1.33em;
	}

	body.fullscreenMap #fiche [data-role="onglet-bt"],
	body.fullscreenMap #fiche [data-role="header"]
	{	display: none;
	}
	body.fullscreenMap #fiche [data-role="onglet"]
	{	top:0;
	}
	body.fullscreenMap #fiche .trackingInfo
	{	display: block;
	}

}

#fiche .signaler .big-button {
  margin: .3em;
}
#fiche .signaler .changeGroupe {
  margin: .5em 0 1em;
}

/** Edition */
[data-role="dialog"].edition .edit {
  position: relative;
}

/* Error */
[data-role="dialog"].edition .error input,
#fiche ul li.edition.error input {
  border-color: red;
}

#fiche .attributes div {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: block;
}

#fiche [data-list="1"] {
  position: relative;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  display: block;
  cursor: pointer;
  padding-right: 1em;
}
#fiche [data-list="1"].list:after {
  content: "\2771";
  position: absolute;
  right: 0.5em;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.5em;
}

/* Dialog */
ul li.obligatoire label:after {
  content:'*';
  color: orange;
  padding-left: .2em;
}

/* reponses */
#fiche .selection .responses {
  clear: both;
}
#fiche .selection .responses p {
  margin: 0 -.5em;
  border-bottom: 1px solid #ccc;
  padding: 0 .5em;
}
#fiche .selection .responses button.response {
  border: 0;
  background-color: #369;
  color: #fff;
  margin: .5em 0;
  padding: .2em 1em;
}
#fiche .selection .responses button.response.disabled {
  background-color: #aaa;
}
#fiche .selection .responses i.fa {
  position: unset;
  display: inline-block;
  top: auto;
  right: auto;
  transform: none;
}

#fiche .selection > div .responses ul li {
  position: relative;
  border: 1px solid #369;
  padding: .5em;
}
#fiche .selection > div .responses ul li.error {
  color: unset;
  font-weight: unset;
  border-color: #800;
  background-color: #fff5f5;
}
#fiche .responses li.error p.date {
  background-color: #800;
}
#fiche .responses li.error:before {
  content: "\f071";
  font-family: fontawesome;
  color: #fff;
  position: absolute;
  top: 0;
  right: .2em;
}

#fiche .responses li p.date {
  background: #369;
  color: #fff;
  padding: 0 .5em;
  margin: -.5em -.5em 0;
}

#fiche .responses .buttons {
  display: block;
  text-align: right;
  width: 100%;
  margin: 0;
}
#fiche .responses .buttons > * {
  float: none;
  display: inline-block;
  margin: 0;  
}
/* Dialog response */
[data-role=dialog].responseReport textarea {
  font-size: 1em;
  min-width: 100%;
  max-width: 100%;
  height: 7em;
  display: block;
}
[data-role=dialog].responseReport span {
  position: relative;
  display: block;
  width: 100%;
  border: 2px solid #ccc;
  padding: .5em 2em .5em .5em;
  height: 2.4em;
}
[data-role=dialog].responseReport span:after {
  position: absolute;
  content: '\2771';
  right: .5em;
  top: 0;
  font-size: 1.5em;
  vertical-align: middle;
}

@media (max-height:400px) {
  #fiche .selection.fiche > div.edition h3 {
    display: none;
  }
  #fiche .selection.fiche > div.fiche ul {
    top: 2em;
  }
  #fiche .selection.fiche > div.fiche .multi {
    margin-bottom: .1em;
  }
  #fiche .selection.fiche.multi > div.fiche ul {
    top: 3.3em;
  }
  #fiche [data-role="onglet-bt"] {
    height: 3em;
    overflow: hidden;
  }
  #fiche [data-role="onglet-bt"] i {
    margin: -.15em 0 1em;
  }
  #fiche [data-role="onglet-li"] {
    top: 2em;
  }
  #fiche .fiche h3 {
    margin: 0;
  }
  #fiche .fiche .themes {
    margin-top: 0;
  }
  #fiche .selection.fiche.themes > div.fiche ul {
    top: 2em;
  }
  #fiche .selection.fiche.multi.themes > div.fiche ul {
    top: 4.5em;
  }
  #fiche .selection.fiche > div.edition ul {
    top: .1em;
    bottom: 2em;
  }
}