<div data-role="header" data-back-button="true">Filtres</div>

<div data-role="content">
  <div class="theme">
    <label class="toggle-right">
      <input type="checkbox">
      <span>Thème du signalement</span>
    </label><div class="check"></div>
  </div>

  <div class="status">
    <label class="toggle-right">
      <input type="checkbox">
      <span>Statut du signalement</span>
    </label><div class="check"></div>
  </div>

  <div class="state close-state">
    <label class="toggle-right">
      <input type="checkbox">
      <span>Etat fermé</span>
    </label>
  </div>

  <div class="mine">
    <label class="toggle-right">
      <input type="checkbox">
      <span>Mes signalements</span>
    </label>
  </div>

  <div class="date">
    <label class="toggle-right">
      <input type="checkbox">
      <span>Date de mise à jour</span>
    </label><div style="position: relative;">
      <i class="fa fa-calendar"></i><input type="date" />
    </div>
  </div>

  <button class="button" onclick="wapp.hidePage()">Filtrer</button>

</div>