<div data-role="header" data-back-button="true">Mon Guichet</div>
<div data-role="content">
  <div class="guichet">
    <h3 data-attr="name"></h3>
    <img data-src="img" />
    <br style="clear:both;" />
    <button class="button big-button" onclick="wapp.showPage('guichets')">
      <i class="fa fa-id-card-o"></i>
      Changer de guichet...
    </button>
    <br/>
    <label class="toggle-right edition">
      <input type="checkbox" />
      <span>Mode édition</span>
    </label>
  </div>
  <div class="noguichet">
    <button class="button big-button" onclick="wapp.showPage('guichets')">
      <i class="fa fa-id-card-o"></i>
      Choisir un guichet...
    </button>
  </div>

  <div class="layerswitcher"></div>
</div>