<div data-role="header" data-back-button="true">Paramètres</div>
<div data-role="content">
  <ul>
    <li class="title confirme">
      Affichage
    </li>
    <li class="confirme" data-input="check" data-param="rotmap">
      <label>Rotation de la carte </label>
      <div data-input-role="info">Autoriser la rotation de la carte.</div>
    </li>
    <li class="confirme" data-input="check" data-param="zoombt" data-default=false>
      <label>Boutons de zoom </label>
      <div data-input-role="info">Afficher les boutons de zoom sur la carte.</div>
    </li>
    <li class="confirme" data-input="check" data-param="searchbt" data-default=true>
      <label>Boutons de recherche</label>
      <div data-input-role="info">Afficher un bouton pour rechercher une adresse sur la carte.</div>
    </li>

    <li class="title">
      Connexion
    </li>
    <li data-input="custom" class="connect" onclick="wapp.connect();">
      <label class="">Identifiant de connexion </label>
      <div data-input-role="info"><span class="deconnected">Vous n'êtes pas connecté.</span><span class="connected"></span></div>
    </li>
  
    <li class="title">
      Divers
    </li>

    <li data-input="button" onclick="wapp.help.reset(); wapp.hidePage(); wapp.help.show('main')">
      <label>Réinitialiser l'aide en ligne</label>
      <div data-input-role="info">L'aide en ligne ne s'affiche qu'une seule fois. 
      Vous pouvez la réactiver pour un nouveau parcours guidé.</div>
    </li>

    <li class="title">
      Paramètres avancés
    </li>

    <li class="confirme" data-input="button" onclick="wapp.showPage('maintenance')">
      <label>Maintenance</label>
      <div data-input-role="info">Afficher le status de l'application et le contenu téléchargé.</div>
    </li>

<!--
    <li data-input="check" data-param="extended" data-default=false>
      <label>Mode avancé</label>
      <div data-input-role="info">Afficher plus de fonctionnalités.</div>
    </li>
-->

    <li data-input="select" data-param="mode">
      <label>Mode d'affichage des menus</label>
      <div data-input-role="option" data-val="debutant">débutant</div>
      <div data-input-role="option" data-val="confirme" data-default="true">confirmé</div>
      <div data-input-role="option" data-val="expert">expert</div>
    </li>

    <li class="expert" data-input="check" data-param="nocache" data-default=false>
      <label>No cache</label>
      <div data-input-role="info">Ne pas gérer de cache vecteur (au prochain redémarrage).</div>
    </li>

    <li class="title confirme">
      GPS
    </li>

    <li class="sourcegps www android expert" data-input="custom" onclick="wapp.selectGPS()">
      <label>Choisir la source GPS</label>
      <div data-input-role="info">GPS interne</div>
    </li>
    <li class="confirme" data-input="text" data-param="minGPSAccuracy" data-default=100>
      <label style="display: block; width: Calc(100% + 1em);">
        Précison GPS (m)&nbsp;: 
        <input type="number" min="0" style="width:4em; padding-left:0.5em;"/>
        <i class="clear-input"></i>
      </label>
      <div data-input-role="info">
        Marge d'erreur au-dessus de laquelle les points GPS ne seront 
        pas enregistrés dans la trace (en&nbsp;m).
      </div>
    </li>
    <li class="confirme" data-input="text" data-param="toleranceGPS" data-default=5>
      <label style="display: block; width: Calc(100% + 1em);">
        Distance GPS (m)&nbsp;: 
        <input type="number" min="0" style="width:4em; padding-left:0.5em;"/>
        <i class="clear-input"></i>
      </label>
      <div data-input-role="info">
        Distance minimal entre deux points GPS sur la trace (en&nbsp;m).
      </div>
    </li>
    
    <li class="title debug">
      DEBUG
    </li>

    <li data-input="custom" class="debug" data-param="qlf" onclick="wapp.setQualif()">
      <label>Serveur utilisé dans l'application</label>
      <div class="qlf" data-input-role="info">Espace Co</div>
    </li>
  </ul>
</div>