#offline .button:disabled {
    opacity: 0.5;
}

#offline #cache-extents-list p, 
#offline .layerlist p {
    font-size: 1.2em;
    padding: 5px 15px;
    margin: 0px;
}
#offline .layerlist .fa-circle {
    font-size: 0.5em;
    vertical-align: middle;
    color: #c30000;
}

#offline .layerlist .fa-circle.loaded {
    color: #00bd00;
}

#offline #cache-extents-list p,
#offline .layerlist p {
    display: inline-block;
    width: 70%;
}

#offline .layerlist,
#offline i.fa {
    margin: 0 0.2em;
}

#cache-layers-fond .ol-layerswitcher li.ol-layer-hidden {
    opacity: 1;
}
#cache-layers-fond .ol-layerswitcher li.ol-layer-hidden > div {
    opacity: .5;
}
#cache-layers-fond .ol-layerswitcher li.ol-layer-hidden > div.icn-bar {
    opacity: 1;
}

#offline .area {
    margin-right: 0.5em;
}

#offline .areas {
    margin-bottom: 0.5em;
}

#offline .cache-tools {
    display: inline;
}

#offline .tools-drawpoly.fa-plus:after {
    content: '\f055';
    position: absolute;
    right: .1em;
    top: -0.03em;
    border-radius: 50%;
    background: #fff;
    font-family: 'FontAwesome';
    font-size: .8em;
    border: 1px solid #fff;
    box-sizing: border-box;
  }