#layer-guichet .guichet {
  text-align: right;
}
#layer-guichet .guichet img {
  display: inline-block;
  vertical-align: middle;
  max-width: 5em;
  max-height: 3em;
  margin-left: .5em;
}
#layer-guichet .guichet h3 {
  margin: 0;
  display: inline-block;
}
#layer-guichet .guichet .button {
  margin: .5em .3em;
}

#layer-guichet .guichet .toggle-right {
  display: none;
}
#layer-guichet .guichet.offline .toggle-right {
  display: inline;
}

#layer-guichet .layerswitcher .ol-layer-group > .ol-layerswitcher-buttons,
#layer-guichet .layerswitcher .ol-layer-group {
  display: none;
}
#layer-guichet .layerswitcher .ol-layer-group.visible {
  display: block;
}

#layer-guichet .layerswitcher .ol-layer-group > .li-content label {
  padding: 0;
}
#layer-guichet .layerswitcher .ol-layer-group > .li-content label::before,
#layer-guichet .layerswitcher .ol-layer-group > .li-content label::after {
  content: none;
}

/* No guichets */
[data-guichet="none"] #layer-guichet .guichet {
  display: none;
}
#layer-guichet .noguichet {
  display: none;
}
[data-guichet="none"] #layer-guichet .noguichet {
  display: block;
  text-align: right;
}

/* Dialogue */
[data-role="dialog"].dialog-infocouche img {
  float: right;
  max-height: 3em;
  max-width: 4em;
}
[data-role="dialog"].dialog-infocouche h2 {
  width: calc(100% - 3em);
  overflow: hidden;
}
[data-role="dialog"].dialog-infocouche .fa {
  margin-top: -.25em;
}
[data-role="dialog"].dialog-infocouche .readonly .edit {
  display: none;
}
[data-role="dialog"].dialog-infocouche .edit .noedit {
  display: none;
}
