<div data-role="header" data-back-button="true">Rechercher un lieu ou une adresse</div>
<div data-role="onglet">
	<div data-role="onglet-bt">
		<div data-list="adress">
			<i class="fa fa-map-marker"></i>Adresse
		</div>
		<div data-list="parcel">
			<i class="fa tools-drawpoly-o"></i>Parcelle
		</div>
		<div data-list="coordinates">
			<i class="fa fa-map-pin"></i>Coordonnées
		</div>
		<div data-list="data">
			<i class="fa fa-info-circle"></i>Donnée
		</div>
	</div>

	<!-- Search adress -->
	<div class="search_adress" data-role="onglet-li" data-list="adress" >
    	<i class="fa fa-search wapp-search"></i>
	</div>
	<!-- Search adress -->
	<div class="search_parcel" data-role="onglet-li" data-list="parcel" >
		<i class="fa fa-search wapp-search"></i>
	</div>
	<!-- Search coordinates -->
	<div class="search_coordinates", data-role="onglet-li" data-list="coordinates" ></div>
	<!-- Search data -->
	<div class="search_data" data-role="onglet-li" data-list="data" >
    	<i class="fa fa-search wapp-search"></i>
  	</div>

</div>