<div class="buttons">
  <button class="signal-button" onclick="wapp.signaler();">
    <img src="./img/signale.png">
  </button>
  <button class="button crise" onclick="wapp.choixProfil()">
    Crise en cours
  </button><button class="button big-button georemsCount hidden" onclick="wapp.ripart.postLocalRems();">
    <i class="fa fa-paper-plane fa-fw"></i> Envoyer les signalements<span>0</span>
  </button><br/>
  <button class="button" onclick="wapp.showPage('layer');">
    <i class="fa fa-map-o fa-fw"></i> Cartes
  </button><button class="button" onclick="wapp.showPage('apropos');">
    <i class="fa fa-question-circle fa-fw"></i> Plus d'info
  </button>
  
  <br/>
</div>