<div data-role="header" data-back-button="true">Mes couches</div>
<div data-role="content">

  <div class="couche">
    <h2 onclick="wapp.showPage('signalements');">
      <i class="fa fa-eye"></i> Signalements
    </h2>
    <div class="icn-bar">
      <i class="fa fa-eye" onclick="wapp.showPage('signalements');">
      </i><i class="fa fa-filter">
      </i><i class="fa fa-send">
        <div class="georemsCount tag"><span></span></div>
      </i><i class="fa fa-gear">
      </i><i class="fa fa-info-circle">
      </i>
  </div></div>

  <div class="couche">
    <h2>
      <i class="fa fa-eye"></i> Guichet
    </h2>
    <div class="icn-bar">
      <i class="fa fa-search">
      </i><i class="fa fa-cloud-download">
      </i><i class="fa fa-refresh">
      </i><i class="fa fa-gear">
      </i><i class="fa fa-info-circle">
      </i>
  </div></div>

  <div class="couche">
    <h2>
      <i class="fa fa-eye"></i> Mes cartes
    </h2>
    <div class="icn-bar">
      <i class="fa fa-search">
      </i><i class="fa fa-cloud-download">
      </i><i class="fa fa-gear">
      </i><i class="fa fa-info-circle">
      </i>
  </div></div>

  <div class="couche">
    <h2>
      <i class="fa fa-eye"></i> Cartes hors-ligne
    </h2>
    <div class="icn-bar">
      <i class="fa fa-refresh">
      </i><i class="fa fa-cloud-download">
      </i><i class="fa fa-gear">
      </i><i class="fa fa-info-circle">
      </i>
  </div></div>

  <div class="couche">
    <h2 onclick="wapp.showPage('layer-geoportail');">
      <i class="fa fa-eye"></i> Fonds de cartes
    </h2>
    <div class="icn-bar">
      <i class="fa fa-gear">
      </i><i class="fa fa-info-circle">
      </i>
  </div></div>

</div>