<div data-role="header" data-back-button="true">Signalements</div>
<div data-role="content" class="couches">
  <h3><i class="fa fa-eye"></i> Signalements</h3>
<!--
  <div class="couche signalements">
    <h2 onclick="wapp.showPage('signalements');">
      <i class="fa fa-eye"></i> Mes Signalements
    </h2>
    <div class="icn-bar">
      <i class="fa fa-refresh" onclick="wapp.ripart.updateLocalRems();">
      </i><i class="fa fa-send" onclick="wapp.ripart.postLocalRems();">
        <div class="georemsCount tag"><span></span></div>
      </i><i class="fa fa-gear" onclick="wapp.showPage('signalements');">
      </i><i class="fa fa-info-circle" onclick="wapp.showDialog('dialog-info-mes-signalements', { className: 'signalements'});">
      </i>
    </div>
  </div>

  <div class="couche croquis">
    <h2>
      <i class="fa fa-eye"></i> Croquis
    </h2>
    <div class="icn-bar">
      <i class="fa fa-info-circle" onclick="wapp.showDialog('dialog-info-croquis');">
      </i>
    </div>
  </div>

  <div class="couche ripart">
    <h2>
      <i class="fa fa-eye" onclick="wapp.toggleRipart();"></i> Signalements
    </h2>
    <div class="icn-bar">
      <i class="fa fa-filter" onclick="wapp.filterGeorem()">
      </i><i class="fa fa-info-circle" onclick="wapp.showDialog('dialog-info-ripart');">
      </i>
  </div></div>
-->

  <div class="layerswitcher signalements"></div>

</div>