<div data-role="header" data-back-button="true">Maintenance</div>
<div data-role="content" style="overflow-x:hidden">

  <div class="content">
    <div class="pie">
      <div class="sector50"></div>
      <div class="sector"><div></div></div>
      <p></p>
    </div>
    <ul class="info">
      <li>
        Cache image : <span class="cimage">-</span>&nbsp;Mo
      </li>
      <li>
        Cache vecteur : <span class="cvector">-</span>&nbsp;Mo
      </li>
      <li class="diskspace-parent-element">
        Espace disponible : <span class="diskspace">-</span>&nbsp;Go
      </li>
    </ul>
    <button class="clean button">Nettoyer</button>
  </div>
    
  <ul class="resume"></ul>
</div>