<div data-role="header" data-back-button="true">Mon Guichet</div>
<div data-role="content">
  <div class="guichet">
    <h3 data-attr="name"></h3>
    <img data-src="img" />
    <br style="clear:both;" />
    <button class="button big-button" onclick="wapp.showPage('cartes')">
      <i class="fa fa-id-card-o"></i>
      Changer de guichet...
    </button>
    <br/>
    <label class="toggle">
      <input type="checkbox" />
      <span>hors-ligne</span>
    </label>
  </div>
  <div class="layerswitcher online"></div>
  <div class="layerswitcher offline"></div>
</div>