.ol-layerswitcher .panel li > div.icn-bar {
  display: block;
  text-align: right;
  background-color: #eee;
  margin: 0 -.5em -.5em;
  clear: both;
}
.ol-layerswitcher .icn-bar > i {
  position: relative;
  width: 2em;
  display: inline-block;
  text-align: center;
  padding: .25em 0;
}
.ol-layerswitcher .icn-bar p {
  position: absolute;
  margin: 0;
  max-width: calc(100% - 10em);
  overflow: hidden;
  white-space: nowrap;
}
.ol-layerswitcher .panel {
  font-size: 1em;
}
.ol-layerswitcher .li-content {
  font-size: 1.2em;
  width: calc(100% - 2em);
}
.ol-layerswitcher .layerup {
  background-color: transparent;
  color: #333;
  opacity: 1
}
#layer-geoportail li.cache .collapse-layers {
  display: none;
}

.layerswitcher .panel li {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 5px rgba(0,0,0,.5);
  margin: 0 0 1em;
  padding: .5em;
}
.layerswitcher .panel li.ol-header {
  display: none;
}

.layerswitcher [type="checkbox"] + label:before{
  font-family: "FontAwesome";
  content: "\f070";
  background: none;
  border: 0;
  font-size: 1.2em;
  top: 0;
  left: 0;
}
.layerswitcher [type="checkbox"]:checked + label:before {
  content: "\f06e";
}
.layerswitcher [type="checkbox"]:checked + label:after {
  content:none;
}

/*
.layerswitcher .layerInfo {
  text-shadow: none;
  margin-left: .5em;
}
.layerswitcher .layerSynchro {
  width: 1.6em;
  height: 1.6em;
  padding:.3em;
}
.layerswitcher .layerSynchro:before {
  content: "\f021";
  font-family: "FontAwesome";
  text-shadow: none;
}
*/

.ol-layerswitcher .panel li .layerswitcher-opacity {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  vertical-align: middle;
  margin: 0;
}
.ol-layerswitcher .layerswitcher-opacity {
  border:0;
  background: none;
  height: 1em;
  border: 0 solid transparent;
  border-width: .5em 0 1em;
  box-shadow: none;
}
.ol-layerswitcher .layerswitcher-opacity:before {
  content: "";
  width: 100%;
  height: 8px;
  background: #666;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border: 0;
  box-sizing: border-box;
}
.ol-layerswitcher .layerswitcher-opacity .layerswitcher-opacity-cursor {
  width: auto;
  transform: translateY(-50%);
  height: 8px;
  right: 0;
  background: #fff;
  border: 1.5px solid #999;
  border-radius: 0;
}
.ol-touch .ol-layerswitcher .layerswitcher-opacity .layerswitcher-opacity-cursor,
.ol-layerswitcher .layerswitcher-opacity .layerswitcher-opacity-cursor:before {
  position: absolute;
  transform: translate(-50%,-50%);
  width: 12px;
  height: 25px;
  left: -1px;
  border-radius: 0;
  background: #666;
}

.ol-layerswitcher .expend-layers:before, 
.ol-layerswitcher .expend-layers:after, 
.ol-layerswitcher .collapse-layers:before,
.ol-layerswitcher [type="radio"]:checked + label:after {
  background: #666;
  border: 0;
}
.ol-layerswitcher [type="radio"] + label:before,
.ol-layerswitcher [type="radio"]:checked + label:before {
  border-color: #666;
}

.ol-layerswitcher li.ol-layer-group > div .layerswitcher-opacity {
  display: none;
}

.ol-layerswitcher .panel li label {
  max-width: 100%;
}
.ol-layerswitcher .panel ul {
  overflow: visible;
  padding: 0;
}

/* Dialog */
[data-page="layer-geoportail"] [data-role="dialog"] .offline .online {
  display: none;
}
[data-page="layer-geoportail"] [data-role="dialog"] .online .offline {
  display: none;
}