<div>
  <p class="theme"></p>
  <i class="fa fa-circle">
  </i><i class="fa fa-pause">
  </i><i class="fa fa-check">
  </i><i class="fa fa-step-forward">
  </i><i class="fa fa-times">
  </i><i class="fa fa-map-marker">
  </i><i class="fa fa-car">
  </i><i class="fa fa-male">
  </i><i class="fa fa-arrows">&nbsp;
  </i><i class="fa fa-caret-down caret">
  </i>
  <i class="fa fa-volume-up"></i>
  <i class="fa fa-caret-up caret"></i>
  <p class="info">
    <!-- hinde info
    <i class="fa satellite"></i><span class="sats"></span> 
    -->
    <i class="fa fa-tachometer"></i><span class="speed"></span> 
    - PDOP: <span class="pdop"></span> 
  </p>
</div>