#main .buttons {
  opacity: 1;
  transition: .2s;
  transition-delay: 0;
}
[data-page="signaler"] #main .buttons {
  top: 0;
  transition-delay: .1s;
  opacity: 0;
}

#signaler .position {
  display: none;
}
#signaler ul {
  clear: both
}

#signaler .connected {
  display: none;
}
#signaler.connected .noconnect {
  display: none;
}
#signaler.connected .connected {
  display: block;
}
#signaler {
  top: 40%;
  height: 60%;
}

#signaler .formulaire ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

#signaler .formulaire .photo {
  text-align: center;
  font-size: 1.5em;
}
#signaler .formulaire textarea {
  width: 100%;
  height: 5em;
  font-size: 1em;
  font-family: "HelveticaNeue-Light","HelveticaNeue",Helvetica,Arial,sans-serif;
}

#signaler li.photo img {
  max-height: 6em;
  max-width: 80%;
}

#signaler .fa {
  margin-right: .5em;
}
#signaler .geolocation {
  height: 1em;
  color: #aaa;
  max-width: 100%;
  background-color: transparent;
  text-align: center;
}

@media screen and (max-width: 700px) {
  #signaler {
    font-size: 1.3em;
  }
}
