#guichet h3 {
  margin-bottom: 0;
}
#guichet img {
  float: right;
  max-width: 5em;
  max-height: 3em;
}
#guichet ul {
  margin: 0 -.5em;
}
#guichet ul.layers {
  padding: 0;
  list-style: none;
  margin: .5em -.5em 2em;
  border-top: 1px solid #999;
}
#guichet ul.layers li {
  border-bottom: 1px solid #999;
  padding: 0 1em
}
#guichet ul.layers h4 {
  margin:0;
}
#guichet ul.layers h4 i {
  font-weight: normal;
}
#guichet ul.layers li div {
  color: #369;
  font-style: italic;
}

#guichet .description {
  background: #eee;
  margin: .5em -.5em;
  display: block;
  padding: .5em;
}
#guichet .auth {
  margin-top: .5em;
  text-align: center;
}
#guichet i.background {
  font-size: 4.5em;
  position: absolute;
  z-index: 0;
  color: rgba(0,0,0,.1);
  pointer-events: none;
}
#guichet i.background:before {
  margin:0;
}
#guichet .warning-container {
  display: inline-block;
  margin: 0;
}
#guichet .warning-container a {
  display: block;
  background: #fff;
  padding: 0 .5em;
  cursor: pointer;
}

#guichet .offline [data-mode=offline] {
  display: none;
}
#guichet.offline .offline [data-mode=online] {
  display: none;
}
#guichet.offline .offline [data-mode=offline] {
  display: block;
}

#guichet .offline .fa-times {
  color: #900;
  font-size: 3em;
  vertical-align: middle;
}
#guichet .offline .fa-check {
  color: #396;
  font-size: 3em;
  vertical-align: middle;
}

/* Liste de cartes */
#guichet ul.cartes .menu {
	float: right;
	font-size: .7em;
}
#guichet ul.cartes li {
	padding: 0.5em;
}
#guichet ul.cartes input {
	width: calc(100% - 7em);
}
#guichet ul.cartes .fa.button {
	width: 2em;
    text-align: center;
    padding: .5em 0;
    margin: .1em .1em;
}
#guichet ul.cartes .layer {
  display: block;
  color: #369;
  font-weight: bold;
}
#guichet ul.cartes li {
  position: relative;
}
#guichet ul.cartes .nb {
  background-color: #f90;
  color: #fff;
  font-weight: bold;
  top: 0;
  left: 0;
  position: absolute;
  margin: 0;
  border-radius: 50%;
  text-align: center;
  min-width: 1.5em;
  z-index: 1;
}

#guichet ul.cartes li.warn .fa-refresh {
  background-color: #f90;
}
#guichet ul.cartes li.warn .info {
  color: #f90;
  font-weight: bold;
}
#guichet ul.cartes li.err .fa-refresh {
  background-color: #900;
}
#guichet ul.cartes li.err .info {
  color: #900;
  font-weight: bold;
}

/* Dialog de cache */
[data-role="dialog"].guichet ul.layerselect {
  border-bottom: 3px solid #ccc;
  padding: .5em 0;
}
[data-role="dialog"].guichet ul.layerselect li {
  position: relative;
  padding: .2em 1.5em .2em 0;
}
[data-role="dialog"].guichet ul.layerselect li.selected:before {
  content: "\f00c";
  font-family: Fontawesome;
  position: absolute;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
