<div data-role="header" data-back-button="true">Mes couches</div>
<div data-role="content" class="couches">

  <div class="couche signalements">
    <h2 onclick="wapp.showPage('layer-signalement');">
      <i class="fa fa-eye"></i> Signalements
    </h2>
    <div class="icn-bar">
      </i><i class="fa fa-filter" onclick="wapp.filterGeorem()">
      </i><i class="fa fa-send" onclick="wapp.ripart.postAllLocalRems();">
        <div class="georemsCount tag"><span></span></div>
      </i><i class="fa fa-gear" onclick="wapp.showPage('signalements');">
      </i><i class="fa fa-info-circle" onclick="wapp.showDialog('dialog-info-signalements');">
      </i>
  </div></div>

  <div class="couche guichet">
    <h2 onclick="wapp.showGuichet()">
      <i class="fa fa-eye"></i> Guichet <span class="name"></span>
    </h2>
    <div class="icn-bar">
      <i class="fa fa-search fa-disable"></i>
      <i class="fa fa-send"><div class="tag"><span></span></div></i>
      <i class="fa fa-info-circle" onclick="wapp.dialogInfoGuichet();">
      </i>
  </div></div>

  <div class="couche usermap confirme">
    <h2 onclick="wapp.showPage('layer-carte');">
      <i class="fa fa-eye"></i> Mes cartes
    </h2>
    <div class="icn-bar">
      <i class="fa fa-search fa-disable">
      </i><i class="fa fa-cloud-download confirme" onclick="wapp.addUserLayer();">
      </i><i class="fa fa-gear fa-disable">
      </i><i class="fa fa-info-circle" onclick="wapp.showDialog('dialog-info-cartes');">
      </i>
  </div></div>
  
  <div class="couche geoportailmap">
    <h2 onclick="wapp.showPage('layer-geoportail');">
      <i class="fa fa-eye"></i> Géoservices
    </h2>
    <div class="icn-bar">
      <i class="fa fa-gear fa-disable">
      </i><i class="fa fa-info-circle" onclick="wapp.showDialog('dialog-info-geoportail');">
      </i>
  </div></div>

</div>