[data-platform='ios'] [data-role='page'] [data-role='header']
{	margin-top: 0.5em;
}
[data-platform='ios'] [data-role='page'] [data-role='content']
{	top: 3em;
}
[data-platform='ios'] [data-role="onglet"]
{	top: 3.5em;
}
[data-platform='ios'] .ol-touch .menuCtrl,
[data-platform='ios'] .ol-touch .ol-rotate,
[data-platform='ios'] .ol-touch .ol-zoom
{	top:1em;
}
[data-platform='ios'] .ol-touch .searchCtrl 
{	top:4em;
}

@media screen and (min-height: 1024px) and (orientation: portrait)
{	[data-platform='ios'] #fiche[data-role='page'] [data-role='header']
	{	margin-top: 0;
	}
	[data-platform='ios'] #fiche [data-role="onglet"]
	{	top: 3em;
	}
}
