

/**
	Smartphone
*/


@media screen and (max-height:255px) {
	[data-role="onglet-bt"]
	{	display: none;
	}
	[data-role="onglet-li"]
	{	top:0;
	}
}


@media screen and (max-width:800px) {
	#loadGuichet div,
	#loadMap div {
		font-size: 0.8em;
	}
}

@media screen and (max-width:600px) 
{
	#loadGuichet span,
	#loadMap span {
		margin: -0.5em 0;
		display: block;
	}

	#signalements button
	{	font-size:0.85em;
		margin: 0;
		transform: scaleX(0.95);
		padding: 0.5em 0.25em;
	}
	#signalements li
	{	font-size: 0.9em;
	}
	#signalements li .info
	{	clear: both;
	}

	#loadGuichet button,
	#loadMap button {
		margin-top: 0.4em!important;
	}

	.photodel[data-role=dialog] [data-role=dialogBt]:nth-child(3)
	{	clear: right;
	}

}
