#help
{	background-color: rgba(0,0,0,.5);
	pointer-events:all;
}
#help [data-role="block"]
{	background: none;
}
#help [data-role="block"]:before
{	content:none;
}

.help-arrow:before 
{   font-size: 5em;
	margin: 0;
	display: block;
}
.help-arrow.rotate-90:before 
{   transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
}
.help-arrow.rotate-130:before 
{   transform: rotate(130deg);
	-webkit-transform: rotate(130deg);
	margin: 0.2em 0;
}
.help-arrow.rotate-145:before 
{   transform: rotate(145deg);
	-webkit-transform: rotate(145deg);
	margin: -0.3em 0;
}
.help-arrow.rotate-180:before 
{   transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
}
.help-arrow.rotate-200:before 
{   transform: rotate(200deg);
	-webkit-transform: rotate(200deg);
	margin:-0.2em 0;
}
.help-arrow.rotate-245:before 
{   transform: rotate(245deg);
	-webkit-transform: rotate(245deg);
	margin:-0.2em 0;
}
.help-arrow.rotate-270:before 
{   transform: rotate(270deg);
	-webkit-transform: rotate(270deg);
}
.help-arrow.rotate-320:before 
{   transform: rotate(320deg);
	-webkit-transform: rotate(320deg);
	margin:-0.2em 0;
}

@media screen and (max-width: 600px) 
{	.help-arrow:before 
	{	font-size: 4em;
		margin: 0.1em 0;
	}
}

#help ul
{	margin:0; 
	padding-left:1em; 
	list-style-type:square;
}

#help .menu
{	top:0;
	left:2.5em;
	text-align: center;
}
#help .menu-content
{	top:0;
	left: 4em;
	max-width: initial;
}

#help .gps
{	bottom: 7.5em;
	right: 0;
	text-align: center;
}
#help .locate
{	bottom: 2.7em;
	right: 3.5em;
	text-align: center;
}
#help .signal
{	bottom: 0em;
	right: 3em;
	text-align: right;
	max-width: 13em;
}
#help .signal p
{	margin: 0 4em 0 0;
}

#help .signaler-placer
{	top: 9.5em;
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	left: 3em;
	max-width: 14em;
}
#help .signaler-photo
{	top: 21em;
	transform: translateY(-100%);
	-webkit-transform: translateY(-100%);
	left: 0em;
	text-align: left;
}

@media screen and (min-width: 1024px) and (orientation: landscape) {
#help .signaler-placer
{	
}
#help .signaler-photo
{	
}
}
@media screen and (min-height: 1024px) and (orientation: portrait) {
#help .signaler-placer
{	top: Calc(35% + 11em);
}
#help .signaler-photo
{	top: Calc(35% + 23em);
}
}

#help .placer-carte
{	bottom: 50%;
	right: 50%;
	text-align: left;
}
@media screen and (min-width: 1024px) and (orientation: landscape) {
#help .placer-carte
{	right:25%;
}
}
@media screen and (min-height: 1024px) and (orientation: portrait) {
#help .placer-carte
{	bottom:80%;
}
}

#help .signalements
{	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 20em;
	max-width: 100%;
}